.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
  letter-spacing: .8px;
  text-transform: uppercase;
  font-size: 14px !important;
}

.navbar-expand-xl .navbar-nav .nav-link {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.navbar-light .navbar-nav .nav-item.active>.nav-link {
  font-weight: 600;
  font-size: 15px !important;
  background-color: rgba(255,255,255,.2);
}

.navbar-light .navbar-nav .nav-link:hover {
  font-weight: 600;
  background-color: rgba(255,255,255,.1);
}

a:hover.grid_link,
a.grid_link {
    color: #fff;
    text-decoration: none;
}

.text-darkblue{
  color: #525AA5;
}

.bg-darkblue {
  background-color: #13688c;
  color: #fff;
}

.bg-green {
  background-color: #ADB510;
  color: #fff;
}

.bg-bahia {
  background-color: #ADB518;
  height: 160px;
  width: 160px;
  padding: 4rem 0!important;
}

.bg-vidaloca {
  background-color: #528421;
  height: 160px;
  width: 160px;
  padding: 4rem 0!important;
}

.bg-studio {
  background-color: #7B5A9C;
  height: 160px;
  width: 160px;
  padding: 3rem 0!important;
}

.bg-razz {
  background-color: #DE006B;
  height: 160px;
  width: 160px;
  padding: 4rem 0!important;
}

.bg-flamered {
  background-color: #8C2129;
  height: 160px;
  width: 160px;
  padding: 4rem 0!important;
}

.bg-darkslateblue {
  background-color: #424294;
  height: 160px;
  width: 160px;
  padding: 4rem 0!important;
}

.bg-copperrose {
  background-color: #9C6363;
  height: 160px;
  width: 160px;
  padding: 4rem 0!important;
}

.bg-bluebell {
  background-color: #9494C6;
  height: 160px;
  width: 160px;
  padding: 4rem 0!important;
}

.bg-pacificblue {
  background-color: #0094D6;
  height: 160px;
  width: 160px;
  padding: 4rem 0!important;
}

.bg-emerald {
    background-color: #2ecc71;
    height: 100px;
    width: 100%;
    font-size: 20px;
    padding: 1rem;
    line-height: 1.3;
}

.bg-alizarin {
    background-color: #e74c3c;
    height: 100px;
    width: 100%;
    font-size: 18px;
    padding: 1.5rem;
    line-height: 1.3;
}

.bg-wisteria {
    background-color: #8e44ad;
    height: 100px;
    width: 100%;
    font-size: 18px;
    padding: 1.5rem;
    line-height: 1.3;
}

.bg-greensea {
    background-color: #16a085;
    height: 100px;
    width: 100%;
    font-size: 18px;
    line-height: 1.3;
}

.bg-pumpkin {
    background-color: #d35400;
    height: 100px;
    width: 100%;
    font-size: 18px;
    padding: 1rem;
    line-height: 1.3;
}


/* Danilo */

.pharma_table{
  width:100%;
  border:1px solid #ccc;
}

.pharma_table tr th,.pharma_table tr td{
  border:1px solid #ccc;
  font-size:11px;
  text-align:center;
  padding: 5px;
}