.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
  letter-spacing: .8px;
  text-transform: uppercase;
  font-size: 14px !important;
}

.navbar-expand-xl .navbar-nav .nav-link {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.navbar-light .navbar-nav .nav-item.active>.nav-link {
  font-weight: 600;
  font-size: 15px !important;
  background-color: rgba(255,255,255,.2);
}

.navbar-light .navbar-nav .nav-link:hover {
  font-weight: 600;
  background-color: rgba(255,255,255,.1);
}

.nav-link {
  color: #157ab5 !important;
}

a:hover.grid_link,
a.grid_link {
    color: #fff;
    text-decoration: none;
}

.text-darkblue{
  color: #525AA5;
}

.bg-darkblue {
  background-color: #13688c;
  color: #fff;
}

.bg-green {
  background-color: #ADB510;
  color: #fff;
}

.bg-bahia {
  background-color: #ADB518;
  height: 160px;
  width: 160px;
  padding: 4rem 0!important;
}

.bg-vidaloca {
  background-color: #528421;
  height: 160px;
  width: 160px;
  padding: 4rem 0!important;
}

.bg-studio {
  background-color: #7B5A9C;
  height: 160px;
  width: 160px;
  padding: 3rem 0!important;
}

.bg-razz {
  background-color: #DE006B;
  height: 160px;
  width: 160px;
  padding: 4rem 0!important;
}

.bg-flamered {
  background-color: #8C2129;
  height: 160px;
  width: 160px;
  padding: 4rem 0!important;
}

.bg-darkslateblue {
  background-color: #424294;
  height: 160px;
  width: 160px;
  padding: 4rem 0!important;
}

.bg-copperrose {
  background-color: #9C6363;
  height: 160px;
  width: 160px;
  padding: 4rem 0!important;
}

.bg-bluebell {
  background-color: #9494C6;
  height: 160px;
  width: 160px;
  padding: 4rem 0!important;
}

.bg-pacificblue {
  background-color: #0094D6;
  height: 160px;
  width: 160px;
  padding: 4rem 0!important;
}

.bg-blueopal {
  background-color: #d9edf7!important;
  border-color: #bce8f1!important;
  color: #3a87ad;
}

.bg-emerald {
    background-color: #2ecc71 !important;
}

.bg-alizarin {
    background-color: #e74c3c !important;
}

.bg-wisteria {
    background-color: #8e44ad!important;
}

.bg-greensea {
    background-color: #16a085!important;
}

.bg-pumpkin {
    background-color: #d35400!important;
}

.card-body a {
  color: #fff;
  font-size: 15px;
}

.card-body a:hover {
  color: #fff;
  text-decoration: none;
}

.btn.btn-link {
  font-size: .9rem !important;
  text-transform: uppercase;
  text-align: left;
}

.btn.btn-link:focus,
.btn.btn-link:hover {
  color: #157ab5;
  text-decoration: underline;
}

#dtHorizontal{
  width: 200em;
}

.accordion .list-group-item {
  border: 0;
  background-color: transparent;
  padding: .25rem;
  font-size: 12px;
  text-transform: uppercase !important;
}


/* Danilo */

.pharma_table{
  width:100%;
}

.pharma_table tr th{
  font-size:14px;
  padding: 5px;
}

.pharma_table tr td{
  font-size:11px;
  text-align:left;
  padding: 5px;
}

.btn {
  font-size: 12px !important;
}

.table_flag{
  height:13px;
  width:19px;
}

.align_center{
  text-align: center !important;
}

.nav-pills .nav-link.active{
  background-color: #28a745 !important;
   color: #fff !important;
  font-size: 12px;
}

.nav-pills .nav-link.active:hover{
  background-color: #28a745 !important;
}

.nav-pills .nav-link{
  font-size: 12px;
  color: #000;
  background-color:#f8f9fa !important;
  margin-right: 5px;
}

.nav-pills .nav-link:hover{
  background-color:#e2e6ea !important;
  color: #000;
}

.bold{
  font-weight: bold !important;
}

.center{
  text-align: center;
}

