
#head{
    /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
}
#body {
    padding-bottom:60px;   /* Height of the footer */
    height: 83%;
}
#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height: 45px;
    padding: 15px;
    text-align: center;
    color: #fff !important;
}


.bg-darkblue {
    background-color: #525CA3;
    color: #fff;
  }

.header{
    background-color: #525CA3;
    height: 50px;
    padding: 15px 20px;
}

.header div{
    float:right;
    color:#fff;
    margin-right: 10px;
}

.banner{
    min-height: 100px;
    /*background-color: rgb(242, 244, 255);*/
    background-color: #fff;
    padding: 10px;
}

.title{
    padding-top: 10px;
}

.title img{
    height: 60px;
    float: left;
}

.title h1{
    margin-top: 0px;
    color: #525CA3;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.titletext{
    float: left;
    margin-left: 20px;
}

.title font{
    text-transform: uppercase;
}

.navigation{
    float: right;
}

.navigation a{
    color: #555;
}

.ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}

.ul li {
float: left;
}

.ul li a {
display: block;
color: #555;
text-align: center;
padding: 14px 15px;
text-decoration: none;
font-weight: bolder;
text-transform: uppercase;
font-size: 13.5px;
}

.ul li:hover {
    border-bottom: 2px solid #525CA3;
}
.ul li a:hover{
    color: #525CA3;
}


