CSS Pretty Print
/* You can add global styles to this file, and also import other style files */
#head {
    /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	 */
}

html, body {
    background-color: #EFEFEF;
    margin: 0;
    padding: 0;
    /*font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif !important;*/
    font-family: "Open Sans", Helvetica, Verdana, Tahoma, sans-serif !important;
    font-size: 0.95rem;
    line-height: 1.42857143;
    color: #000;
    height: 100% !important;
    width: 100%;
  }

  #body {
    padding-bottom:60px;   /* Height of the footer */
    height: 79%;
}

#footer {
    position: absolute;
    bottom:0;
    width:100%;
    height: 45px;
    padding: 15px;
    text-align: center;
    color: #fff !important;
}

.bg-darkblue {
    background-color: #525ca3;
    color: #fff;
}

.header {
    background-color: #525ca3;
    height: 50px;
    padding: 15px 20px;
}

    .header div {
        float: right;
        color: #fff;
        margin-right: 10px;
    }

    .header .svg-inline--fa.fa-w-16, .footer .svg-inline--fa.fa-w-16{
        font-size:1em !important;
    }

.banner {
    min-height: 100px;
    /*background-color: rgb(242, 244, 255);
	 */
    background-color: #fff;
    padding: 10px;
}

.title {
    padding-top: 10px;
}

.title img {
    height: 60px;
    float: left;
}

.title h1 {
    margin-top: 0px;
    color: #525ca3;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.titletext {
    float: left;
    margin-left: 20px;
}

.title font {
    text-transform: uppercase;
}

#titleandnav .row{
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  #titleandnav div.col-md-8{
      padding: 15px 0px;
  }

.navigation .navbar-nav .nav-item .nav-link {
    color: #555 !important;
    font-size: 13px !important;
    padding-left: 10px;
    padding-right: 9px;
}

.navigation .navbar-nav .active a {
    border-bottom: 4px solid #525ca3;
    
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.ul li {
    float: left;
}

.ul li a {
    display: block;
    color: #555;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 13.5px;
}

.ul li:hover {
    border-bottom: 2px solid #525ca3;
}

.ul li a:hover {
    color: #525ca3;
}

.navbar{
    padding:0px 0px !important;
}


.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    font-size: 14px !important;
}

.navbar-expand-xl .navbar-nav .nav-link {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.navbar-light .navbar-nav .nav-item.active > .nav-link {
    font-weight: 600;
    font-size: 15px ;
    background-color: rgba(255, 255, 255, .2);
}

.navbar-light .navbar-nav .nav-link:hover {
    font-weight: 600;
    background-color: rgba(255, 255, 255, .1);
}

.nav-link {
    color: #157ab5 !important;
}

a:hover.grid_link,
a.grid_link {
    color: #fff;
    text-decoration: none;
}

#myTab {
    border: 1px solid #ddd !important;
    padding-top: 5px;
}

#nav-tabContent {
    padding: 10px 20px;
    border: 1px solid #dee2e6;
    border-top: none;
    height: 95%;
    background-color: #fff !important;
    overflow-y: scroll;
  }
  
  

.text-darkblue {
    color: #525aa5;
}


.bg-green {
    background-color: #adb510;
    color: #fff;
}

.bg-bahia {
    background-color: #adb518;
    height: 160px;
    width: 160px;
    padding: 4rem 0 !important;
}

.bg-vidaloca {
    background-color: #528421;
    height: 160px;
    width: 160px;
    padding: 4rem 0 !important;
}

.bg-studio {
    background-color: #7b5a9c;
    height: 160px;
    width: 160px;
    padding: 3rem 0 !important;
}

.bg-razz {
    background-color: #de006b;
    height: 160px;
    width: 160px;
    padding: 4rem 0 !important;
}

.bg-flamered {
    background-color: #8c2129;
    height: 160px;
    width: 160px;
    padding: 4rem 0 !important;
}

.bg-darkslateblue {
    background-color: #424294;
    height: 160px;
    width: 160px;
    padding: 4rem 0 !important;
}

.bg-copperrose {
    background-color: #9c6363;
    height: 160px;
    width: 160px;
    padding: 4rem 0 !important;
}

.bg-bluebell {
    background-color: #9494c6;
    height: 160px;
    width: 160px;
    padding: 4rem 0 !important;
}

.bg-pacificblue {
    background-color: #0094d6;
    height: 160px;
    width: 160px;
    padding: 4rem 0 !important;
}
/*
.bg-blueopal {
    background-color: #d9edf7 !important;
    border-color: #bce8f1 !important;
    color: #3a87ad;
}*/

.bg-blueopal {
    background-color: rgb(241, 242, 252) !important;
    border-color: rgb(241, 242, 252) !important;
  }

.bg-emerald {
    background-color: #2ecc71 !important;
}

.bg-alizarin {
    background-color: #e74c3c !important;
}

.bg-wisteria {
    background-color: #8e44ad !important;
}

.bg-greensea {
    background-color: #16a085 !important;
}

.bg-pumpkin {
    background-color: #d35400 !important;
}

.bg-default {
    background-color: #525CA3 !important;
}

.card-body a {
    color: #fff;
    font-size: 15px;
}

    .card-body a:hover {
        color: #fff;
        text-decoration: none;
    }

.btn.btn-link {
    font-size: 0.9rem !important;
    text-transform: uppercase;
    text-align: left;
}

    .btn.btn-link:focus,
    .btn.btn-link:hover {
        color: #157ab5;
        text-decoration: underline;
    }

#dtHorizontal {
    width: 200em;
}

.accordion .list-group-item {
    border: 0;
    background-color: transparent;
    padding: 0.25rem;
    font-size: 12px;
    text-transform: uppercase !important;
}


/* Danilo */

.pharma_table {
    width: 100%;
}

.pharma_table tr th {
    font-size: 14px;
    padding: 5px;
}

.pharma_table tr td {
    font-size: 11px;
    text-align: left;
    padding: 5px;
}

.btn {
    font-size: 12px !important;
}

.table_flag {
    height: 13px;
    width: 19px;
}

.align_center {
    text-align: center !important;
}

.nav-pills .nav-link.active {
    background-color: #28a745 !important;
    color: #fff !important;
    font-size: 12px;
}

.nav-pills .nav-link.active:hover {
    background-color: #28a745 !important;
}

.nav-pills .nav-link {
    font-size: 12px;
    color: #000;
    background-color: #f8f9fa !important;
    margin-right: 5px;
}

.nav-pills .nav-link:hover {
    background-color: #e2e6ea !important;
    color: #000;
}

.bold {
    font-weight: bold !important;
}

.center {
    text-align: center;
}

.contacts_div {
    background-color: #fff;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
    overflow-y: scroll;
}

.contacts_div .card{
    border: 0px !important;
}

.tile {
    color: #fff;
    width: 152px;
    height: 155px;
    text-align: center;
    overflow: hidden;
    margin: 5px 10px;
    float: left;
    border-radius: 10px;
}

.tile div {
    margin-top: 30px;
    margin-bottom: 20px;
}

.tile div i {
    font-size: 50px !important;
}

.yg {
    background-color: #adb518;
}

.g {
    background-color: #528421;
}

.vio {
    background-color: #7b5a9c;
}

.pink {
    background-color: #de006b;
}

.maroon {
    background-color: #8c2129;
}

.blue {
    background-color: #424294;
}

.brown {
    background-color: #9c6363;
}

.sb {
    background-color: #0094d6;
}

.db {
    background-color: #2b579a;
}

#contacts img {
    height: 45px;
    width: 45px;
    border-radius: 50px;
    float: left;
}

.c_details {
    margin-left: 10px;
    float: left;
}

    .c_details font {
        font-size: 11px;
        color: #777;
    }

.list-group-item {
    border: 0;
}

.svg-inline--fa.fa-w-20,
.svg-inline--fa.fa-w-12,
.svg-inline--fa.fa-w-14,
.svg-inline--fa.fa-w-16,
.svg-inline--fa.fa-w-18 {
    font-size: 3em;
}






body::-webkit-scrollbar,
#nav-tabContent::-webkit-scrollbar,
.contacts_div::-webkit-scrollbar,
.table-responsive::-webkit-scrollbar{
  background-color: #fff;
  width: 16px;
}

/* background of the scrollbar except button or resizer */

body::-webkit-scrollbar,
#nav-tabContent::-webkit-scrollbar,
.contacts_div::-webkit-scrollbar,
.table-responsive::-webkit-scrollbar{
  background-color: #fff;
}

/* scrollbar itself */

body::-webkit-scrollbar,
#nav-tabContent::-webkit-scrollbar,
.contacts_div::-webkit-scrollbar,
.table-responsive::-webkit-scrollbar
{
  background-color: #eee;
  border-radius: 16px;
  border: 4px solid #fff;
}

/* set button(top and bottom of the scrollbar) 
body::-webkit-scrollbar, .workflow_content::-webkit-scrollbar-button,*/

#rightMenu::-webkit-scrollbar, .messages::-webkit-scrollbar {
  display: none;
}
