<div class="m-3 h-100">
    <ul class="nav nav-tabs bg-blueopal" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="national-RPP-PSMF-requirements-tab" data-toggle="tab" href="#national-RPP-PSMF-requirements" role="tab" aria-controls="national-RPP-PSMF-requirements" aria-selected="false">National RPP-PSMF requirements</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="national-expedited-reporting-rules-tab" data-toggle="tab" href="#national-expedited-reporting-rules" role="tab" aria-controls="national-expedited-reporting-rules" aria-selected="false">National Expedited Reporting rules</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="national-periodic-reporting-requirements-tab" data-toggle="tab" href="#national-periodic-reporting-requirements" role="tab" aria-controls="national-periodic-reporting-requirements" aria-selected="false">National Periodic Reporting requirements</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" id="responsibiilty-per-country-tab" data-toggle="tab" href="#responsibiilty-per-country" role="tab" aria-controls="responsibiilty-per-country" aria-selected="false">Summary</a>  <!-- of responsibility per country for the CT safety reporting obligations -->
    </li>
    <li class="nav-item">
      <a class="nav-link" id="national-rmp-requirements-tab" data-toggle="tab" href="#national-rmp-requirements" role="tab" aria-controls="national-rmp-requirements" aria-selected="false">National RMP requirements</a>
    </li>
  </ul>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="row">
        <div class="card m-2">
            <div class="card-group-item">
                <header class="card-header bg-blueopal ">
                    Role of PRAC
                </header>
                <div class="filter-content">
                    <div class="card-body">
                        Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy text
                        ever since the 1500s, when an unknown printer took a galley of type
                        and scrambled it to make a type specimen book. It has survived not
                        only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged. It was popularised in the 1960s
                        with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus
                        PageMaker including versions of Lorem Ipsum. <br>
                        <img src="assets/images/pracImg.png" alt="" class="rounded mx-auto d-block">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="tab-pane fade" id="national-RPP-PSMF-requirements" role="tabpanel" aria-labelledby="national-RPP-PSMF-requirements-tab">
        <div class="mt-2">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item success">
                    <a class="nav-link active" id="pills-requirement-tab" data-toggle="pill" href="#pills-requirement" role="tab" aria-controls="pills-requirement" aria-selected="true">RMP requirement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-Status-tab" data-toggle="pill" href="#pills-Status" role="tab" aria-controls="pills-Status" aria-selected="false">RMP Status per region</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-types-tab" data-toggle="pill" href="#pills-types" role="tab" aria-controls="pills-types" aria-selected="false">RMP Type</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-Format-tab" data-toggle="pill" href="#pills-Format" role="tab" aria-controls="pills-Format" aria-selected="false">RMP Format</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-requirement" role="tabpanel" aria-labelledby="pills-requirement-tab">
                        <h3>Risk Management Plan Requirements</h3>
                </div>
                <div class="tab-pane fade" id="pills-Status" role="tabpanel" aria-labelledby="pills-Status-tab">
                        <img src="/assets/images/RMPStatus.JPG" />
                </div>
                <div class="tab-pane fade" id="pills-types" role="tabpanel" aria-labelledby="pills-types-tab"> 
                      <img src="/assets/images/RMPType.JPG" />
                </div>
                <div class="tab-pane fade" id="pills-Format" role="tabpanel" aria-labelledby="pills-Format-tab">
    
                    <img src="/assets/images/RMPFormat.JPG" style="border:1px solid #ccc; float:left"/>
                        
                </div>
            </div>
          </div>
    </div>
    <div class="tab-pane fade" id="national-expedited-reporting-rules" role="tabpanel" aria-labelledby="national-expedited-reporting-rules-tab">
        <div class="mt-2">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item success">
                    <a class="nav-link active" id="pills-requirement-tab" data-toggle="pill" href="#pills-requirement" role="tab" aria-controls="pills-requirement" aria-selected="true">RMP requirement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-Status-tab" data-toggle="pill" href="#pills-Status" role="tab" aria-controls="pills-Status" aria-selected="false">RMP Status per region</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-types-tab" data-toggle="pill" href="#pills-types" role="tab" aria-controls="pills-types" aria-selected="false">RMP Type</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-Format-tab" data-toggle="pill" href="#pills-Format" role="tab" aria-controls="pills-Format" aria-selected="false">RMP Format</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-requirement" role="tabpanel" aria-labelledby="pills-requirement-tab">
    
                        <h3>Risk Management Plan Requirements</h3>
    
                </div>
                <div class="tab-pane fade" id="pills-Status" role="tabpanel" aria-labelledby="pills-Status-tab">
                        <img src="/assets/images/RMPStatus.JPG" />
                </div>
                <div class="tab-pane fade" id="pills-types" role="tabpanel" aria-labelledby="pills-types-tab"> 
                      <img src="/assets/images/RMPType.JPG" />
                </div>
                <div class="tab-pane fade" id="pills-Format" role="tabpanel" aria-labelledby="pills-Format-tab">
    
                    <img src="/assets/images/RMPFormat.JPG" style="border:1px solid #ccc; float:left"/>
                        
                </div>
            </div>
          </div>
    </div>
    <div class="tab-pane fade" id="national-periodic-reporting-requirements" role="tabpanel" aria-labelledby="national-periodic-reporting-requirements-tab">
        <div class="mt-2">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item success">
                    <a class="nav-link active" id="pills-requirement-tab" data-toggle="pill" href="#pills-requirement" role="tab" aria-controls="pills-requirement" aria-selected="true">RMP requirement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-Status-tab" data-toggle="pill" href="#pills-Status" role="tab" aria-controls="pills-Status" aria-selected="false">RMP Status per region</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-types-tab" data-toggle="pill" href="#pills-types" role="tab" aria-controls="pills-types" aria-selected="false">RMP Type</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-Format-tab" data-toggle="pill" href="#pills-Format" role="tab" aria-controls="pills-Format" aria-selected="false">RMP Format</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-requirement" role="tabpanel" aria-labelledby="pills-requirement-tab">
    
                        <h3>Risk Management Plan Requirements</h3>
    
                </div>
                <div class="tab-pane fade" id="pills-Status" role="tabpanel" aria-labelledby="pills-Status-tab">
                        <img src="/assets/images/RMPStatus.JPG" />
                </div>
                <div class="tab-pane fade" id="pills-types" role="tabpanel" aria-labelledby="pills-types-tab"> 
                      <img src="/assets/images/RMPType.JPG" />
                </div>
                <div class="tab-pane fade" id="pills-Format" role="tabpanel" aria-labelledby="pills-Format-tab">
    
                    <img src="/assets/images/RMPFormat.JPG" style="border:1px solid #ccc; float:left"/>
                        
                </div>
            </div>
          </div>
    </div>
    <div class="tab-pane fade" id="responsibiilty-per-country" role="tabpanel" aria-labelledby="responsibiilty-per-country-tab">
        <div class="mt-2">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item success">
                    <a class="nav-link active" id="pills-requirement-tab" data-toggle="pill" href="#pills-requirement" role="tab" aria-controls="pills-requirement" aria-selected="true">RMP requirement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-Status-tab" data-toggle="pill" href="#pills-Status" role="tab" aria-controls="pills-Status" aria-selected="false">RMP Status per region</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-types-tab" data-toggle="pill" href="#pills-types" role="tab" aria-controls="pills-types" aria-selected="false">RMP Type</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-Format-tab" data-toggle="pill" href="#pills-Format" role="tab" aria-controls="pills-Format" aria-selected="false">RMP Format</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-requirement" role="tabpanel" aria-labelledby="pills-requirement-tab">
    
                        <h3>Risk Management Plan Requirements</h3>
    
                </div>
                <div class="tab-pane fade" id="pills-Status" role="tabpanel" aria-labelledby="pills-Status-tab">
                        <img src="/assets/images/RMPStatus.JPG" />
                </div>
                <div class="tab-pane fade" id="pills-types" role="tabpanel" aria-labelledby="pills-types-tab"> 
                      <img src="/assets/images/RMPType.JPG" />
                </div>
                <div class="tab-pane fade" id="pills-Format" role="tabpanel" aria-labelledby="pills-Format-tab">
    
                    <img src="/assets/images/RMPFormat.JPG" style="border:1px solid #ccc; float:left"/>
                        
                </div>
            </div>
          </div>
    </div>
    <div class="tab-pane fade" id="national-rmp-requirements" role="tabpanel" aria-labelledby="national-rmp-requirements-tab">
      <div class="mt-2">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item success">
                <a class="nav-link active" id="pills-requirement-tab" data-toggle="pill" href="#pills-requirement" role="tab" aria-controls="pills-requirement" aria-selected="true">RMP requirement</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-Status-tab" data-toggle="pill" href="#pills-Status" role="tab" aria-controls="pills-Status" aria-selected="false">RMP Status per region</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-types-tab" data-toggle="pill" href="#pills-types" role="tab" aria-controls="pills-types" aria-selected="false">RMP Type</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-Format-tab" data-toggle="pill" href="#pills-Format" role="tab" aria-controls="pills-Format" aria-selected="false">RMP Format</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-requirement" role="tabpanel" aria-labelledby="pills-requirement-tab">

                    <h3>Risk Management Plan Requirements</h3>

            </div>
            <div class="tab-pane fade" id="pills-Status" role="tabpanel" aria-labelledby="pills-Status-tab">
                    <img src="/assets/images/RMPStatus.JPG" />
            </div>
            <div class="tab-pane fade" id="pills-types" role="tabpanel" aria-labelledby="pills-types-tab"> 
                  <img src="/assets/images/RMPType.JPG" />
            </div>
            <div class="tab-pane fade" id="pills-Format" role="tabpanel" aria-labelledby="pills-Format-tab">

                <img src="/assets/images/RMPFormat.JPG" style="border:1px solid #ccc; float:left"/>
                    
            </div>
        </div>
      </div>
    </div>
  </div>
  
  </div>