<div class="m-3 h-100">
    <ul class="nav nav-tabs bg-blueopal" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="national-RPP-PSMF-requirements-tab" data-toggle="tab" href="#national-RPP-PSMF-requirements" role="tab" aria-controls="national-RPP-PSMF-requirements" aria-selected="false">National RPP-PSMF requirements</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="national-expedited-reporting-rules-tab" data-toggle="tab" href="#national-expedited-reporting-rules" role="tab" aria-controls="national-expedited-reporting-rules" aria-selected="false">National Expedited Reporting rules</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="national-periodic-reporting-requirements-tab" data-toggle="tab" href="#national-periodic-reporting-requirements" role="tab" aria-controls="national-periodic-reporting-requirements" aria-selected="false">National Periodic Reporting requirements</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" id="responsibiilty-per-country-tab" data-toggle="tab" href="#responsibiilty-per-country" role="tab" aria-controls="responsibiilty-per-country" aria-selected="false">Summary</a>  <!-- of responsibility per country for the CT safety reporting obligations -->
    </li>
    <li class="nav-item">
      <a class="nav-link" id="national-rmp-requirements-tab" data-toggle="tab" href="#national-rmp-requirements" role="tab" aria-controls="national-rmp-requirements" aria-selected="false">National RMP requirements</a>
    </li>
  </ul>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <h1>PRAC</h1>
      <div class="row h-100">
  
        <div class="col-md-8">
            <div class="card mb-2">
                <div class="card-group-item">
                    <header class="card-header bg-blueopal ">
                        Pharmacovigilance Regulatory Framework
                    </header>
                    <div class="filter-content">
                        <div class="card-body">
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text
                            ever since the 1500s, when an unknown printer took a galley of type
                            and scrambled it to make a type specimen book. It has survived not
                            only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged. It was popularised in the 1960s
                            with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus
                            PageMaker including versions of Lorem Ipsum.
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-group-item">
                    <header class="card-header bg-blueopal ">
                        Map
                    </header>
                    <div class="filter-content">
                        <div class="card-body text-center">
                            <img src="assets/images/map.png" alt="" class="img-fluid"  style="height: 400px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card mb-1 h-100">
                <div class="card-group-item">
                    <header class="card-header bg-blueopal ">
                        National Safety Regulatory Requirements
                    </header>
                    <div class="filter-content">
                        <div class="card-body">
                            <div class="card bg-emerald text-center mb-2">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <a id="national-RPP-PSMF-requirements-tab" data-toggle="tab"
                                                href="#national-RPP-PSMF-requirements" role="tab"
                                                aria-controls="national-RPP-PSMF-requirements"
                                                aria-selected="false">National RPP-PSMF requirements</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card bg-alizarin text-center mb-2">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <a id="national-expedited-reporting-rules-tab" data-toggle="tab"
                                                href="#national-expedited-reporting-rules" role="tab"
                                                aria-controls="national-expedited-reporting-rules"
                                                aria-selected="false">National Expedited Reporting rules</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card bg-wisteria text-center mb-2">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <a id="national-periodic-reporting-requirements-tab"
                                                data-toggle="tab"
                                                href="#national-periodic-reporting-requirements" role="tab"
                                                aria-controls="national-periodic-reporting-requirements"
                                                aria-selected="false">National Periodic Reporting
                                                requirements</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card bg-greensea text-center mb-2">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <a id="responsibiilty-per-country-tab" data-toggle="tab"
                                                href="#responsibiilty-per-country" role="tab"
                                                aria-controls="responsibiilty-per-country"
                                                aria-selected="false">Summary
                                                of responsibility per country for the CT safety reporting
                                                obligations</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card bg-pumpkin text-center mb-2">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <a id="national-rmp-requirements-tab" data-toggle="tab"
                                                href="#national-rmp-requirements" role="tab"
                                                aria-controls="national-rmp-requirements"
                                                aria-selected="false">National
                                                RMP requirements </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-md-2">
            <div class="p-2 mb-2 bg-blueopal">Region/Country</div>
            <div class="mb-2">
                <div class="accordion" id="accordionExample">
                    <div class="card mb-1">
                        <div class="card-header" id="headingOne">
                            <ul class="list-group">
                                <li class="list-group-item collapsed align-items-center" data-toggle="collapse" data-target="#collapseOne">
                                    <i class="fa fa-plus"></i>  AEGIS <span class="badge badge-info">1</span>
                                </li>
                            </ul>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">AEGIS </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-1">
                        <div class="card-header" id="headingTwo">
                            <ul class="list-group">
                                <li class="list-group-item collapsed align-items-center" data-toggle="collapse" data-target="#collapseTwo">
                                    <i class="fa fa-plus"></i>   Africa, Middle East and Eurasia <span class="badge badge-info">32</span>
                                </li>
                            </ul>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Afghanistan</li>
                                    <li class="list-group-item">Algeria </li>
                                    <li class="list-group-item">Angola </li>
                                    <li class="list-group-item">Armenia </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-1">
                        <div class="card-header" id="headingThree">
                            <ul class="list-group">
                                <li class="list-group-item collapsed align-items-center" data-toggle="collapse" data-target="#collapseThree">
                                    <i class="fa fa-plus"></i>  AMERICAS  <span class="badge badge-info">1</span>
                                </li>
                            </ul>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Afghanistan</li>
                                    <li class="list-group-item">Algeria </li>
                                    <li class="list-group-item">Angola </li>
                                    <li class="list-group-item">Armenia </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-1">
                        <div class="card-header" id="headingFour">
                            <ul class="list-group">
                                <li class="list-group-item collapsed align-items-center" data-toggle="collapse" data-target="#collapseFour">
                                    <i class="fa fa-plus"></i>  Asia, China and JPAC  <span class="badge badge-info">23</span>
                                </li>
                            </ul>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Afghanistan</li>
                                    <li class="list-group-item">Algeria </li>
                                    <li class="list-group-item">Angola </li>
                                    <li class="list-group-item">Armenia </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-1">
                        <div class="card-header" id="headingFive">
                            <ul class="list-group">
                                <li class="list-group-item collapsed align-items-center" data-toggle="collapse" data-target="#collapseFive">
                                    <i class="fa fa-plus"></i>  Europe  <span class="badge badge-info">1 </span>
                                </li>
                            </ul>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Afghanistan</li>
                                    <li class="list-group-item">Algeria </li>
                                    <li class="list-group-item">Angola </li>
                                    <li class="list-group-item">Armenia </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-1">
                        <div class="card-header" id="headingSix">
                            <ul class="list-group">
                                <li class="list-group-item collapsed align-items-center" data-toggle="collapse" data-target="#collapseSix">
                                    <i class="fa fa-plus"></i>   Europe EEA   <span class="badge badge-info">31  </span>
                                </li>
                            </ul>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Afghanistan</li>
                                    <li class="list-group-item">Algeria </li>
                                    <li class="list-group-item">Angola </li>
                                    <li class="list-group-item">Armenia </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-1">
                        <div class="card-header" id="headingSeven">
                            <ul class="list-group">
                                <li class="list-group-item collapsed align-items-center" data-toggle="collapse" data-target="#collapseSeven">
                                    <i class="fa fa-plus"></i>   Europe non EEA  <span class="badge badge-info">8  </span>
                                </li>
                            </ul>
                        </div>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Afghanistan</li>
                                    <li class="list-group-item">Algeria </li>
                                    <li class="list-group-item">Angola </li>
                                    <li class="list-group-item">Armenia </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="tab-pane fade" id="national-RPP-PSMF-requirements" role="tabpanel" aria-labelledby="national-RPP-PSMF-requirements-tab">
        <div class="mt-2">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item success">
                    <a class="nav-link active" id="pills-requirement-tab" data-toggle="pill" href="#pills-requirement" role="tab" aria-controls="pills-requirement" aria-selected="true">RMP requirement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-Status-tab" data-toggle="pill" href="#pills-Status" role="tab" aria-controls="pills-Status" aria-selected="false">RMP Status per region</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-types-tab" data-toggle="pill" href="#pills-types" role="tab" aria-controls="pills-types" aria-selected="false">RMP Type</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-Format-tab" data-toggle="pill" href="#pills-Format" role="tab" aria-controls="pills-Format" aria-selected="false">RMP Format</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-requirement" role="tabpanel" aria-labelledby="pills-requirement-tab">
                        <h3>Risk Management Plan Requirements</h3>
                </div>
                <div class="tab-pane fade" id="pills-Status" role="tabpanel" aria-labelledby="pills-Status-tab">
                        <img src="/assets/images/RMPStatus.JPG" />
                </div>
                <div class="tab-pane fade" id="pills-types" role="tabpanel" aria-labelledby="pills-types-tab"> 
                      <img src="/assets/images/RMPType.JPG" />
                </div>
                <div class="tab-pane fade" id="pills-Format" role="tabpanel" aria-labelledby="pills-Format-tab">
    
                    <img src="/assets/images/RMPFormat.JPG" style="border:1px solid #ccc; float:left"/>
                        
                </div>
            </div>
          </div>
    </div>
    <div class="tab-pane fade" id="national-expedited-reporting-rules" role="tabpanel" aria-labelledby="national-expedited-reporting-rules-tab">
        <div class="mt-2">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item success">
                    <a class="nav-link active" id="pills-requirement-tab" data-toggle="pill" href="#pills-requirement" role="tab" aria-controls="pills-requirement" aria-selected="true">RMP requirement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-Status-tab" data-toggle="pill" href="#pills-Status" role="tab" aria-controls="pills-Status" aria-selected="false">RMP Status per region</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-types-tab" data-toggle="pill" href="#pills-types" role="tab" aria-controls="pills-types" aria-selected="false">RMP Type</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-Format-tab" data-toggle="pill" href="#pills-Format" role="tab" aria-controls="pills-Format" aria-selected="false">RMP Format</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-requirement" role="tabpanel" aria-labelledby="pills-requirement-tab">
    
                        <h3>Risk Management Plan Requirements</h3>
    
                </div>
                <div class="tab-pane fade" id="pills-Status" role="tabpanel" aria-labelledby="pills-Status-tab">
                        <img src="/assets/images/RMPStatus.JPG" />
                </div>
                <div class="tab-pane fade" id="pills-types" role="tabpanel" aria-labelledby="pills-types-tab"> 
                      <img src="/assets/images/RMPType.JPG" />
                </div>
                <div class="tab-pane fade" id="pills-Format" role="tabpanel" aria-labelledby="pills-Format-tab">
    
                    <img src="/assets/images/RMPFormat.JPG" style="border:1px solid #ccc; float:left"/>
                        
                </div>
            </div>
          </div>
    </div>
    <div class="tab-pane fade" id="national-periodic-reporting-requirements" role="tabpanel" aria-labelledby="national-periodic-reporting-requirements-tab">
        <div class="mt-2">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item success">
                    <a class="nav-link active" id="pills-requirement-tab" data-toggle="pill" href="#pills-requirement" role="tab" aria-controls="pills-requirement" aria-selected="true">RMP requirement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-Status-tab" data-toggle="pill" href="#pills-Status" role="tab" aria-controls="pills-Status" aria-selected="false">RMP Status per region</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-types-tab" data-toggle="pill" href="#pills-types" role="tab" aria-controls="pills-types" aria-selected="false">RMP Type</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-Format-tab" data-toggle="pill" href="#pills-Format" role="tab" aria-controls="pills-Format" aria-selected="false">RMP Format</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-requirement" role="tabpanel" aria-labelledby="pills-requirement-tab">
    
                        <h3>Risk Management Plan Requirements</h3>
    
                </div>
                <div class="tab-pane fade" id="pills-Status" role="tabpanel" aria-labelledby="pills-Status-tab">
                        <img src="/assets/images/RMPStatus.JPG" />
                </div>
                <div class="tab-pane fade" id="pills-types" role="tabpanel" aria-labelledby="pills-types-tab"> 
                      <img src="/assets/images/RMPType.JPG" />
                </div>
                <div class="tab-pane fade" id="pills-Format" role="tabpanel" aria-labelledby="pills-Format-tab">
    
                    <img src="/assets/images/RMPFormat.JPG" style="border:1px solid #ccc; float:left"/>
                        
                </div>
            </div>
          </div>
    </div>
    <div class="tab-pane fade" id="responsibiilty-per-country" role="tabpanel" aria-labelledby="responsibiilty-per-country-tab">
        <div class="mt-2">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item success">
                    <a class="nav-link active" id="pills-requirement-tab" data-toggle="pill" href="#pills-requirement" role="tab" aria-controls="pills-requirement" aria-selected="true">RMP requirement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-Status-tab" data-toggle="pill" href="#pills-Status" role="tab" aria-controls="pills-Status" aria-selected="false">RMP Status per region</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-types-tab" data-toggle="pill" href="#pills-types" role="tab" aria-controls="pills-types" aria-selected="false">RMP Type</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-Format-tab" data-toggle="pill" href="#pills-Format" role="tab" aria-controls="pills-Format" aria-selected="false">RMP Format</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-requirement" role="tabpanel" aria-labelledby="pills-requirement-tab">
    
                        <h3>Risk Management Plan Requirements</h3>
    
                </div>
                <div class="tab-pane fade" id="pills-Status" role="tabpanel" aria-labelledby="pills-Status-tab">
                        <img src="/assets/images/RMPStatus.JPG" />
                </div>
                <div class="tab-pane fade" id="pills-types" role="tabpanel" aria-labelledby="pills-types-tab"> 
                      <img src="/assets/images/RMPType.JPG" />
                </div>
                <div class="tab-pane fade" id="pills-Format" role="tabpanel" aria-labelledby="pills-Format-tab">
    
                    <img src="/assets/images/RMPFormat.JPG" style="border:1px solid #ccc; float:left"/>
                        
                </div>
            </div>
          </div>
    </div>
    <div class="tab-pane fade" id="national-rmp-requirements" role="tabpanel" aria-labelledby="national-rmp-requirements-tab">
      <div class="mt-2">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item success">
                <a class="nav-link active" id="pills-requirement-tab" data-toggle="pill" href="#pills-requirement" role="tab" aria-controls="pills-requirement" aria-selected="true">RMP requirement</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-Status-tab" data-toggle="pill" href="#pills-Status" role="tab" aria-controls="pills-Status" aria-selected="false">RMP Status per region</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-types-tab" data-toggle="pill" href="#pills-types" role="tab" aria-controls="pills-types" aria-selected="false">RMP Type</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-Format-tab" data-toggle="pill" href="#pills-Format" role="tab" aria-controls="pills-Format" aria-selected="false">RMP Format</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-requirement" role="tabpanel" aria-labelledby="pills-requirement-tab">

                    <h3>Risk Management Plan Requirements</h3>

            </div>
            <div class="tab-pane fade" id="pills-Status" role="tabpanel" aria-labelledby="pills-Status-tab">
                    <img src="/assets/images/RMPStatus.JPG" />
            </div>
            <div class="tab-pane fade" id="pills-types" role="tabpanel" aria-labelledby="pills-types-tab"> 
                  <img src="/assets/images/RMPType.JPG" />
            </div>
            <div class="tab-pane fade" id="pills-Format" role="tabpanel" aria-labelledby="pills-Format-tab">

                <img src="/assets/images/RMPFormat.JPG" style="border:1px solid #ccc; float:left"/>
                    
            </div>
        </div>
      </div>
    </div>
  </div>
  
  </div>