/* You can add global styles to this file, and also import other style files */

html, body {
    background-color: #fff;
    margin: 0; padding: 0;
    /*font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif !important;*/
    font-family: "Open Sans", Helvetica, Verdana, Tahoma, sans-serif !important;
    font-size: 0.95rem;
    line-height: 1.42857143;
    color: #000;
    height: 100% !important;
    width: 100%;
  }

  #container {
    min-height:100%;
    position:relative;
    background-color:#EFEFEF;
    height: 100% !important;
}
 
#nav-tabContent{
    padding:10px;
    border: 1px solid #dee2e6; border-top:none;
    height:97%;
    background-color: #fff !important;
    overflow: scroll;
}


.tab-content div.active{
    height: 100%;
}

.card-header{
    border:none !important;
}

.card{
    border:none !important;
}

.list-group-item{
    border-color: #eee;
}



 /*  Custom Scroll */

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
body::-webkit-scrollbar, .workflow_content::-webkit-scrollbar {
    background-color:#fff;
    width:16px
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar, .workflow_content::-webkit-scrollbar-track {
    background-color:#fff
}

/* scrollbar itself */
body::-webkit-scrollbar, .workflow_content::-webkit-scrollbar-thumb {
    background-color:#eee;
    border-radius:16px;
    border:4px solid #fff
}


/* total width */
#nav-tabContent::-webkit-scrollbar, .contacts_div::-webkit-scrollbar{
    background-color:#fff;
    width:16px
}

/* background of the scrollbar except button or resizer */
#nav-tabContent::-webkit-scrollbar,.contacts_div::-webkit-scrollbar {
    background-color:#fff
}

/* scrollbar itself */
#nav-tabContent::-webkit-scrollbar, .contacts_div::-webkit-scrollbar{
    background-color:#eee;
    border-radius:16px;
    border:4px solid #fff
}


/* set button(top and bottom of the scrollbar) 
body::-webkit-scrollbar, .workflow_content::-webkit-scrollbar-button,*/
#rightMenu::-webkit-scrollbar, .messages::-webkit-scrollbar  {display:none}


