<div class="m-3 h-100">
    <ul class="nav nav-tabs bg-blueopal" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="NationalExpeditedReportingrules-tab" data-toggle="tab" href="#NationalExpeditedReportingrules" role="tab" aria-controls="NationalExpeditedReportingrules" aria-selected="false">National Expedited Reporting rules</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="NationalPeriodicReportingrequirements-tab" data-toggle="tab" href="#NationalPeriodicReportingrequirements" role="tab" aria-controls="NationalPeriodicReportingrequirements" aria-selected="false"> National Periodic Reporting requirements</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" id="NationalSignalDetectionRequirements-tab" data-toggle="tab" href="#NationalSignalDetectionRequirements" role="tab" aria-controls="NationalSignalDetectionRequirements" aria-selected="false">National Signal Detection Requirements</a> 
    </li>
    <li class="nav-item">
      <a class="nav-link" id="NationalRMPrequirements-tab" data-toggle="tab" href="#NationalRMPrequirements" role="tab" aria-controls="NationalRMPrequirements" aria-selected="false">National RMP requirements</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="NationalSafetyLegislationstatus-tab" data-toggle="tab" href="#NationalSafetyLegislationstatus" role="tab" aria-controls="NationalSafetyLegislationstatus" aria-selected="false">National Safety Legislation Status</a>
    </li>
  </ul>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="row h-100">
  
        <div class="col-md-8">
            <div class="card mb-2">
                <div class="card-group-item">
                    <header class="card-header bg-blueopal ">
                        Cosmetovigilance Regulatory Framework
                    </header>
                    <div class="filter-content">
                        <div class="card-body">
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text
                            ever since the 1500s, when an unknown printer took a galley of type
                            and scrambled it to make a type specimen book. It has survived not
                            only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged. It was popularised in the 1960s
                            with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus
                            PageMaker including versions of Lorem Ipsum.
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-group-item">
                    <header class="card-header bg-blueopal ">
                        Map
                    </header>
                    <div class="filter-content">
                        <div class="card-body text-center">
                            <img src="assets/images/map.png" alt="" class="img-fluid"  style="height: 400px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">                   
            <div class="card mb-1">
                <div class="card-group-item">
                    <header class="card-header bg-blueopal ">
                        National Safety Regulatory Requirements
                    </header>
                    <div class="card-body">
                        <div class="card bg-emerald text-center mb-2">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <a id="NationalResponsiblePersonSafetyrequirements-tab" data-toggle="tab"
                                            href="#NationalResponsiblePersonSafetyrequirements" role="tab"
                                            aria-controls="NationalResponsiblePersonSafetyrequirements"
                                            aria-selected="false">National Responsible Person in Safety requirements</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card bg-alizarin text-center mb-2">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <a id="NationalExpeditedReportingrules-tab" data-toggle="tab"
                                            href="#NationalExpeditedReportingrules" role="tab"
                                            aria-controls="NationalExpeditedReportingrules"
                                            aria-selected="false">National Expedited Reporting rules</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card bg-wisteria text-center mb-2">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <a id="NationalPeriodicReportingrequirements-tab"
                                            data-toggle="tab"
                                            href="#NationalPeriodicReportingrequirements" role="tab"
                                            aria-controls="NationalPeriodicReportingrequirements"
                                            aria-selected="false"> National Periodic Reporting requirements</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card bg-greensea text-center mb-2">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <a id="NationalSignalDetectionRequirements-tab" data-toggle="tab" href="#NationalSignalDetectionRequirements" role="tab" aria-controls="NationalSignalDetectionRequirements" aria-selected="false">National Signal Detection Requirements</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card bg-pumpkin text-center mb-2">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <a id="NationalRMPrequirements-tab" data-toggle="tab" href="#NationalRMPrequirements" role="tab" aria-controls="NationalRMPrequirements" aria-selected="false">National RMP requirements</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-md-2">
            <div class="p-4 mb-2 bg-blueopal">Region/Country</div>
            <div class="mb-2">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        AEGIS <span class="badge badge-info">1</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">AEGIS </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Africa, Middle East and Eurasia <span class="badge badge-info">32</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Afghanistan</li>
                                        <li class="list-group-item">Algeria </li>
                                        <li class="list-group-item">Angola </li>
                                        <li class="list-group-item">Armenia </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        AMERICAS  <span class="badge badge-info">1</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Afghanistan</li>
                                        <li class="list-group-item">Algeria </li>
                                        <li class="list-group-item">Angola </li>
                                        <li class="list-group-item">Armenia </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Asia, China and JPAC  <span class="badge badge-info">23</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="panel-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Afghanistan</li>
                                        <li class="list-group-item">Algeria </li>
                                        <li class="list-group-item">Angola </li>
                                        <li class="list-group-item">Armenia </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFive">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        Europe  <span class="badge badge-info">1 </span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                <div class="panel-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Afghanistan</li>
                                        <li class="list-group-item">Algeria </li>
                                        <li class="list-group-item">Angola </li>
                                        <li class="list-group-item">Armenia </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingSix">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        Europe EEA   <span class="badge badge-info">31  </span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                                <div class="panel-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Afghanistan</li>
                                        <li class="list-group-item">Algeria </li>
                                        <li class="list-group-item">Angola </li>
                                        <li class="list-group-item">Armenia </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingSeven">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                        Europe non EEA  <span class="badge badge-info">8  </span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                                <div class="panel-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Afghanistan</li>
                                        <li class="list-group-item">Algeria </li>
                                        <li class="list-group-item">Angola </li>
                                        <li class="list-group-item">Armenia </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    </div>
    <div class="tab-pane fade" id="NationalExpeditedReportingrules" role="tabpanel" aria-labelledby="NationalExpeditedReportingrules-tab">
            <div class="mt-2">
                    <h4 class="m-3">Title Goes Here <img _ngcontent-njt-c2="" class="float-right" height="30px" src="../../assets/images/sanofi.png"></h4>
                    <div class="alert alert-success" role="alert">
                        Subtext goes here
                    </div>
                    <table class="table table-hover pharma_table">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
            </div>
    </div>
    <div class="tab-pane fade" id="NationalPeriodicReportingrequirements" role="tabpanel" aria-labelledby="NationalPeriodicReportingrequirements-tab">
        <div class="mt-2">
            <h4 class="m-3">Title Goes Here <img _ngcontent-njt-c2="" class="float-right" height="30px" src="../../assets/images/sanofi.png"></h4>
            <div class="alert alert-success" role="alert">
                Subtext goes here
            </div>
            <table class="table table-hover pharma_table">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="NationalSignalDetectionRequirements" role="tabpanel" aria-labelledby="NationalSignalDetectionRequirements-tab">
        <div class="mt-2">
            <h4 class="m-3">Title Goes Here <img _ngcontent-njt-c2="" class="float-right" height="30px" src="../../assets/images/sanofi.png"></h4>
            <div class="alert alert-success" role="alert">
                Subtext goes here
            </div>
            <table class="table table-hover pharma_table">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
          </div>
    </div>
    <div class="tab-pane fade" id="NationalRMPrequirements" role="tabpanel" aria-labelledby="NationalRMPrequirements-tab">
      <div class="mt-2">
        <h4 class="m-3">Title Goes Here <img _ngcontent-njt-c2="" class="float-right" height="30px" src="../../assets/images/sanofi.png"></h4>
        <div class="alert alert-success" role="alert">
            Subtext goes here
        </div>
        <table class="table table-hover pharma_table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane fade" id="NationalSafetyLegislationstatus" role="tabpanel" aria-labelledby="NationalSafetyLegislationstatus-tab">
        <div class="mt-2">
            <h4 class="m-3">Title Goes Here <img _ngcontent-njt-c2="" class="float-right" height="30px" src="../../assets/images/sanofi.png"></h4>
            <div class="alert alert-success" role="alert">
                Subtext goes here
            </div>
            <table class="table table-hover pharma_table">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
  
  </div>