<div class="m-3 h-100">
    <ul class="nav nav-tabs bg-blueopal" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="NationalExpeditedReportingrules-tab" data-toggle="tab" href="#NationalExpeditedReportingrules" role="tab" aria-controls="NationalExpeditedReportingrules" aria-selected="false">National Expedited Reporting rules</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="NationalPeriodicReportingrequirements-tab" data-toggle="tab" href="#NationalPeriodicReportingrequirements" role="tab" aria-controls="NationalPeriodicReportingrequirements" aria-selected="false"> National Periodic Reporting requirements</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" id="NationalSignalDetectionRequirements-tab" data-toggle="tab" href="#NationalSignalDetectionRequirements" role="tab" aria-controls="NationalSignalDetectionRequirements" aria-selected="false">National Signal Detection Requirements</a> 
    </li>
    <li class="nav-item">
      <a class="nav-link" id="NationalRMPrequirements-tab" data-toggle="tab" href="#NationalRMPrequirements" role="tab" aria-controls="NationalRMPrequirements" aria-selected="false">National RMP requirements</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="NationalSafetyLegislationstatus-tab" data-toggle="tab" href="#NationalSafetyLegislationstatus" role="tab" aria-controls="NationalSafetyLegislationstatus" aria-selected="false">National Safety Legislation Status</a>
    </li>
  </ul>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="row h-100">
        <div class="col-md-8">
            <div class="card mb-2">
                <div class="card-group-item">
                    <header class="card-header bg-blueopal ">
                        Nutrivigilance Regulatory Framework
                    </header>
                    <div class="filter-content">
                        <div class="card-body">
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text
                            ever since the 1500s, when an unknown printer took a galley of type
                            and scrambled it to make a type specimen book. It has survived not
                            only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged. It was popularised in the 1960s
                            with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus
                            PageMaker including versions of Lorem Ipsum.
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-group-item">
                    <header class="card-header bg-blueopal ">
                        Map
                    </header>
                    <div class="filter-content" id="map">
                        <div class="card-body text-center">
                            <div id="vmap" style="width: 100%; height: 400px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">                   
            <div class="card mb-1">
                <div class="card-group-item">
                    <header class="card-header bg-blueopal ">
                        National Safety Regulatory Requirements
                    </header>
                    <div class="card-body">
                        <div class="card bg-default text-center mb-2">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <a id="NationalExpeditedReportingrules-tab" data-toggle="tab"
                                            href="#NationalExpeditedReportingrules" role="tab"
                                            aria-controls="NationalExpeditedReportingrules"
                                            aria-selected="false">National Expedited Reporting rules</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card bg-default text-center mb-2">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <a id="NationalPeriodicReportingrequirements-tab"
                                            data-toggle="tab"
                                            href="#NationalPeriodicReportingrequirements" role="tab"
                                            aria-controls="NationalPeriodicReportingrequirements"
                                            aria-selected="false"> National Periodic Reporting requirements</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card bg-default text-center mb-2">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <a id="NationalSignalDetectionRequirements-tab" data-toggle="tab" href="#NationalSignalDetectionRequirements" role="tab" aria-controls="NationalSignalDetectionRequirements" aria-selected="false">National Signal Detection Requirements</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card bg-default text-center mb-2">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <a id="NationalRMPrequirements-tab" data-toggle="tab" href="#NationalRMPrequirements" role="tab" aria-controls="NationalRMPrequirements" aria-selected="false">National RMP requirements</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card bg-default text-center mb-2">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <a id="NationalResponsiblePersonSafetyrequirements-tab" data-toggle="tab"
                                            href="#NationalResponsiblePersonSafetyrequirements" role="tab"
                                            aria-controls="NationalResponsiblePersonSafetyrequirements"
                                            aria-selected="false">National Safety Legislation Status</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-md-2">
            <div class="p-4 mb-2 bg-blueopal">Region/Country</div>
            <div class="mb-2">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        AEGIS <span class="badge badge-info">1</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">AEGIS </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Africa, Middle East and Eurasia <span class="badge badge-info">32</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Afghanistan</li>
                                        <li class="list-group-item">Algeria </li>
                                        <li class="list-group-item">Angola </li>
                                        <li class="list-group-item">Armenia </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        AMERICAS  <span class="badge badge-info">1</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Afghanistan</li>
                                        <li class="list-group-item">Algeria </li>
                                        <li class="list-group-item">Angola </li>
                                        <li class="list-group-item">Armenia </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Asia, China and JPAC  <span class="badge badge-info">23</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="panel-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Afghanistan</li>
                                        <li class="list-group-item">Algeria </li>
                                        <li class="list-group-item">Angola </li>
                                        <li class="list-group-item">Armenia </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFive">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        Europe  <span class="badge badge-info">1 </span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                <div class="panel-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Afghanistan</li>
                                        <li class="list-group-item">Algeria </li>
                                        <li class="list-group-item">Angola </li>
                                        <li class="list-group-item">Armenia </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingSix">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        Europe EEA   <span class="badge badge-info">31  </span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                                <div class="panel-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Afghanistan</li>
                                        <li class="list-group-item">Algeria </li>
                                        <li class="list-group-item">Angola </li>
                                        <li class="list-group-item">Armenia </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingSeven">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                        Europe non EEA  <span class="badge badge-info">8  </span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                                <div class="panel-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Afghanistan</li>
                                        <li class="list-group-item">Algeria </li>
                                        <li class="list-group-item">Angola </li>
                                        <li class="list-group-item">Armenia </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    </div>
    <div class="tab-pane fade" id="NationalExpeditedReportingrules" role="tabpanel" aria-labelledby="NationalExpeditedReportingrules-tab">
            <div class="mt-2">
                    <h4 class="m-3">Nutraceuticals - Expedited Reporting Requirement <img _ngcontent-njt-c2="" class="float-right" height="30px" src="../../assets/images/sanofi.png"></h4>
                    <div class="alert alert-success" role="alert">
                        Sorted by Expedited Strongly Regulated Country to Expedited Non-Strongly Regulated Country
                    </div>
                    <table class="table table-hover table-striped pharma_table">
                        <thead>
                            <tr>
                                <th>Region</th>
                                <th style="width:100px">Country</th>
                                <th>ICSR Strongly Regulated Site</th>
                                <th>Submission Type</th>
                                <th>Serious (S) Serious + Non-Serious (S/NS)</th>
                                <th>Related (R) Related + Not Related (R/NR)</th>
                                <th>Unexpected Only (U) Unexpected + Expected/ Listed (U/E)</th>
                                <th>Medically Confirmed (M) Medically Confirmed+ Consumer (M/Co)</th>
                                <th>G/ L / F Global (G) = Local (L) + Foreign (F)</th>
                                <th style="width:80px">Report Format</th>
                                <th>Reporting Timelines cd= calendar days</th>
                                <th>Comments</th>
                                <th style="width:100px">Date of review</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>JPAC</td>
                                <td><img _ngcontent-xvq-c1="" class="table_flag" src="assets/images/flags/au.png"> AUSTRALIA</td>
                                <td>YES</td>
                                <td>CT rule</td>
                                <td>S</td>
                                <td>R</td>
                                <td>U/E</td>
                                <td>M</td>
                                <td>L</td>
                                <td>CIOMS</td>
                                <td>15 cd</td>
                                <td>None</td>
                                <td>18-Jul-2012</td>
                            </tr>
                            <tr>
                                <td>JPAC</td>
                                <td><img _ngcontent-xvq-c1="" class="table_flag" src="assets/images/flags/au.png"> AUSTRALIA</td>
                                <td>YES</td>
                                <td>PM rule</td>
                                <td>S</td>
                                <td>R</td>
                                <td>U/E</td>
                                <td>M/Co</td>
                                <td>L</td>
                                <td>CIOMS</td>
                                <td>15 cd</td>
                                <td>Other Expedited ICSRs to be submitted : misuse, medication erros, overdose, Pregnancy without AE, lactation, Any event that fulfills the seriousness criteria is required to be submitted</td>
                                <td>18-Jul-2012</td>
                            </tr>
                            <tr>
                                <td>North America</td>
                                <td><img _ngcontent-xvq-c1="" class="table_flag" src="assets/images/flags/ca.png"> CANADA</td>
                                <td>YES</td>
                                <td>CT rule</td>
                                <td>S</td>
                                <td>R</td>
                                <td>U</td>
                                <td>M</td>
                                <td>G</td>
                                <td>CIOMS</td>
                                <td>7/15cd</td>
                                <td>None</td>
                                <td>18-Jul-2012</td>
                            </tr>
                            <tr>
                                <td>North America</td>
                                <td><img _ngcontent-xvq-c1="" class="table_flag" src="assets/images/flags/ca.png"> CANADA</td>
                                <td>YES</td>
                                <td>PM rule</td>
                                <td>S</td>
                                <td>R</td>
                                <td>U</td>
                                <td>M/Co</td>
                                <td>G</td>
                                <td>CIOMS</td>
                                <td>15 cd</td>
                                <td>None</td>
                                <td>18-Jul-2012</td>
                            </tr>
                            <tr>
                                <td>North America</td>
                                <td><img _ngcontent-xvq-c1="" class="table_flag" src="assets/images/flags/ca.png"> CANADA</td>
                                <td>YES</td>
                                <td>PM rule</td>
                                <td>S</td>
                                <td>R</td>
                                <td>U</td>
                                <td>M/Co</td>
                                <td>F</td>
                                <td>CIOMS</td>
                                <td>15 cd</td>
                                <td>Some non serious LOE can qualify for regulatory reporting in an expedited fashion (15 days reporting)</td>
                                <td>18-Jul-2012</td>
                            </tr>
                            <tr>
                                <td>Europe EEA</td>
                                <td><img _ngcontent-xvq-c1="" class="table_flag" src="assets/images/flags/fi.png"> FINLAND</td>
                                <td>YES</td>
                                <td>PM rule</td>
                                <td>S/NS</td>
                                <td>R</td>
                                <td>U/E</td>
                                <td>M/Co</td>
                                <td>L</td>
                                <td>Local HA form</td>
                                <td>Not Specified</td>
                                <td>No Mandatory but Recommended</td>
                                <td>18-Jul-2012</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
    </div>
    <div class="tab-pane fade" id="NationalPeriodicReportingrequirements" role="tabpanel" aria-labelledby="NationalPeriodicReportingrequirements-tab">
        <div class="mt-2">
            <h4 class="m-3">Nutraceuticals - Periodic Safety Reporting Requirement <img _ngcontent-njt-c2="" class="float-right" height="30px" src="../../assets/images/sanofi.png"></h4>
            <div class="alert alert-success" role="alert">
                RT = Reporting Timeline
            </div>
            <table class="table table-hover table-striped pharma_table">
                <thead>
                    <tr>
                        <th>Region</th>
                        <th style="width:100px">Country</th>
                        <th>Periodic Report required
                            [YES/ NO/ Planned]</th>
                        <th>Comment</th>
                        <th>Development Safety report required
                            [YES/ NO/ Planned]</th>
                        <th>RT</th>
                        <th>Comment</th>
                        <th>Medically Confirmed (M) Medically Confirmed+ Consumer (M/Co)</th>
                        <th>Date of Review</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>AMESA Middle East </td>
                        <td><img _ngcontent-xvq-c1="" class="table_flag" src="assets/images/flags/af.png"> Afghanistan</td>
                        <td>NO</td>
                        <td>N/A</td>
                        <td>None</td>
                        <td>NO</td>
                        <td>N/A</td>
                        <td>None</td>
                        <td>1-Aug-2016</td>
                    </tr>
                    <tr>
                        <td>Europe non EEA </td>
                        <td><img _ngcontent-xvq-c1="" class="table_flag" src="assets/images/flags/al.png"> Albania</td>
                        <td>NO</td>
                        <td>N/A</td>
                        <td>None</td>
                        <td>NO</td>
                        <td>N/A</td>
                        <td>None</td>
                        <td>18-Jul-2012</td>
                    </tr>
                    <tr>
                        <td>AMESA Africa </td>
                        <td><img _ngcontent-xvq-c1="" class="table_flag" src="assets/images/flags/ag.png"> Algeria</td>
                        <td>NO</td>
                        <td>N/A</td>
                        <td>None</td>
                        <td>NO</td>
                        <td>N/A</td>
                        <td>None</td>
                        <td>18-Jul-2012</td>
                    </tr>
                    <tr>
                        <td>LATAM </td>
                        <td><img _ngcontent-xvq-c1="" class="table_flag" src="assets/images/flags/au.png"> Argentina</td>
                        <td>NO</td>
                        <td>N/A</td>
                        <td>None</td>
                        <td>NO</td>
                        <td>N/A</td>
                        <td>None</td>
                        <td>18-Jul-2012</td>
                    </tr>
                    <tr>
                        <td>AMESA Middle East  </td>
                        <td><img _ngcontent-xvq-c1="" class="table_flag" src="assets/images/flags/am.png"> Armenia</td>
                        <td>NO</td>
                        <td>N/A</td>
                        <td>None</td>
                        <td>NO</td>
                        <td>N/A</td>
                        <td>None</td>
                        <td>18-Jul-2012</td>
                    </tr>
                    <tr>
                        <td>LATAM </td>
                        <td><img _ngcontent-xvq-c1="" class="table_flag" src="assets/images/flags/ar.png"> Aruba</td>
                        <td>NO</td>
                        <td>N/A</td>
                        <td>None</td>
                        <td>NO</td>
                        <td>N/A</td>
                        <td>None</td>
                        <td>18-Jul-2012</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="NationalSignalDetectionRequirements" role="tabpanel" aria-labelledby="NationalSignalDetectionRequirements-tab">
        <div class="mt-2">
                <h4 class="m-4">Nutraceuticals - Signal Detection Reporting Requirement <img src="../../assets/images/sanofi.png" class="float-right" height="30px"/></h4>
                <div class="alert alert-success" role="alert">
                    Sorted by Signal Detection Strongly Regulated Country (SRC) to Signal Detection Non-Strongly Regulated Country (NSRC)
                </div>
                 <table class="table table-striped table-hover pharma_table">
                    <thead>
                        <tr>
                            <th>Region</th>
                            <th>Country</th>
                            <th>Signal Detection Process Required (YES/NO)</th>
                            <th>HA Communication (YES/NO)</th>
                            <th>Comments</th>
                            <th>Date of Review</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>JPAC</td>
                            <td><img src="assets/images/flags/au.png" class="table_flag" /> Australia</td>
                            <td>YES</td>
                            <td>YES</td>
                            <td>www.tga.gov.au</td>
                            <td>7/18/2012</td>
                        </tr>
                         <tr>
                            <td>North America</td>
                            <td><img src="assets/images/flags/cn.png" class="table_flag" /> Canada</td>
                            <td>YES</td>
                            <td>YES</td>
                            <td>None</td>
                            <td>7/18/2012</td>
                        </tr>
                         <tr>
                            <td>Europe EEA</td>
                            <td><img src="assets/images/flags/de.png" class="table_flag" /> Germany</td>
                            <td>YES (product monitoring)</td>
                            <td>YES</td>
                            <td>www.bfr.bund.de</td>
                            <td>7/18/2012</td>
                        </tr>
                        <tr>
                            <td>AMESA Africa</td>
                            <td><img src="assets/images/flags/ke.png" class="table_flag" /> Kenya</td>
                            <td>YES</td>
                            <td>YES</td>
                            <td>http://www.pharmacyboardkenya.org/</td>
                            <td>7/18/2012</td>
                        </tr>
                         <tr>
                            <td>Asia</td>
                            <td><img src="assets/images/flags/ph.png" class="table_flag" /> Philippines</td>
                            <td>YES</td>
                            <td>NO</td>
                            <td>None</td>
                            <td>7/18/2012</td>
                        </tr>
                         
                    </tbody>
                </table>
          </div>
    </div>
    <div class="tab-pane fade" id="NationalRMPrequirements" role="tabpanel" aria-labelledby="NationalRMPrequirements-tab">
      <div class="mt-2">
            <h4 class="m-4">Nutraceuticals - Risk Management Plan Reporting Requirement <img src="../../assets/images/sanofi.png" class="float-right" height="30px"/></h4>
            <div class="alert alert-success" role="alert">
                Sorted by Risk Managemant Strongly Regulated Country to Risk Management Non-Strongly Regulated Country
            </div>
             <table class="table table-striped table-hover pharma_table">
                <thead>
                    <tr>
                        <th>Region</th>
                        <th>Country</th>
                        <th>Risk Management Report required YES/ NO</th>
                        <th>Date of Review</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>North America</td>
                        <td><img src="assets/images/flags/us.png" class="table_flag" /> United States</td>
                        <td>YES (RMP)</td>
                        <td>7/25/2012</td>
                    </tr>
                    <tr>
                        <td>Europe non EEA</td>
                        <td><img src="assets/images/flags/al.png" class="table_flag" /> Albania</td>
                        <td>NO</td>
                        <td>7/25/2012</td>
                    </tr>
                    <tr>
                        <td>AMESA Africa</td>
                        <td><img src="assets/images/flags/dz.png" class="table_flag" /> Algeria </td>
                        <td>NO</td>
                        <td>7/25/2012</td>
                    </tr>
                    <tr>
                        <td>AMESA Africa</td>
                        <td><img src="assets/images/flags/ao.png" class="table_flag" /> Angola</td>
                        <td>NO</td>
                        <td>7/25/2012</td>
                    </tr>
                    <tr>
                        <td>LATAM</td>
                        <td><img src="assets/images/flags/ar.png" class="table_flag" /> Argentina</td>
                        <td>NO</td>
                        <td>7/25/2012</td>
                    </tr>
                </tbody>
            </table>
      </div>
    </div>
    <div class="tab-pane fade" id="NationalSafetyLegislationstatus" role="tabpanel" aria-labelledby="NationalSafetyLegislationstatus-tab">
        <div class="mt-2">
            <h4 class="m-3">Herbal Product - Safety Regulatory Requirements (21/01/2015)
                <img _ngcontent-njt-c2="" class="float-right" height="40px" src="../../assets/images/zentiva.jpg">
                <img _ngcontent-njt-c2="" class="float-right" height="40px" src="../../assets/images/sanofipasteur.jpg">
                <img _ngcontent-njt-c2="" class="float-right" height="40px" src="../../assets/images/genzyme.png">
                <img _ngcontent-njt-c2="" class="float-right" height="30px" src="../../assets/images/sanofi.png">
            </h4>
            <div class="alert alert-success" role="alert">
                Sorted by Regulated Country to Non-Regulated Country<br/>
                <strong>HP</strong> = Herbal Product
            </div>
            <table class="table table-hover table-striped pharma_table">
                <thead>
                    <tr>
                        <th>REGIONS</th>
                        <th style="width:150px">COUNTRIES</th>
                        <th>HP Legislation</th>
                        <th>Title</th>
                        <th>Responsible Authority</th>
                        <th>Legislation Followed</th>
                        <th>More Informations</th>
                        <th>Date of Review</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>LATAM</td>
                        <td><img src="assets/images/flags/ar.png" class="table_flag" /> Argentina</td>
                        <td>YES</td>
                        <td>safety system, safety reporting, signal detection.</td>
                        <td>ANMAT</td>
                        <td>Medicinal Products & OTC</td>
                        <td>If approved as medicinal products the regulation is the same</td>
                        <td>8/12/2012</td>
                    </tr>
                    <tr>
                        <td>AMESA South Asia</td>
                        <td><img src="assets/images/flags/au.png" class="table_flag" /> Australia</td>
                        <td>YES</td>
                        <td>Australian Pharmacovigilance Guidelines</td>
                        <td>TGA</td>
                        <td>Medicinal Products, NTC & OTC</td>
                        <td>-</td>
                        <td>8/12/2012</td>
                    </tr>
                    <tr>
                        <td>Europe EEA</td>
                        <td><img src="assets/images/flags/at.png" class="table_flag" /> Austria</td>
                        <td>YES</td>
                        <td>AMG & PhVO</td>
                        <td>AGESPharmMed</td>
                        <td>OTC</td>
                        <td>-</td>
                        <td>8/12/2012</td>
                    </tr>
                    <tr>
                        <td>Europe EEA</td>
                        <td><img src="assets/images/flags/be.png" class="table_flag" /> Belgium</td>
                        <td>YES</td>
                        <td>If the herbal products is considered a medicinal product, then the same rules as for medicinal products need to be followed.</td>
                        <td>Federal Agency of Medicinal and Health Products (FAGG/AFMPS)</td>
                        <td>Medicinal Products (Depending on wether the herbal product is registered as a medicinal product.)</td>
                        <td>-</td>
                        <td>8/12/2012</td>
                    </tr>
                    <tr>
                        <td>AMESA Africa</td>
                        <td><img src="assets/images/flags/bw.png" class="table_flag" /> Botswana</td>
                        <td>YES</td>
                        <td>Uploaded in APH eRoom</td>
                        <td>herbal medicines</td>
                        <td>Medicinal Products, NTC, OTC & Cos</td>
                        <td>-</td>
                        <td>8/12/2012</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
  
  </div>