.contacts_div{
    background-color: #fff; height: 100%;
    padding: 20px; border-radius: 5px;
    overflow-y: scroll;
}

.tile{
    color: #fff; width: 152px; height: 155px; text-align: center; overflow: hidden;
    margin: 5px 10px; float: left; border-radius: 10px;
}

.tile div{
    margin-top:30px;
    margin-bottom: 20px;
}

.tile div i{
    font-size:50px;
}

.yg{
    background-color:#ADB518;
}

.g{
    background-color:#528421;
}

.vio{
    background-color: #7B5A9C;
}

.pink{
    background-color: #DE006B;
}

.maroon{
    background-color: #8C2129;
}

.blue{
    background-color: #424294;
}

.brown{
    background-color: #9C6363;
}

.sb{
    background-color: #0094D6;
}

.db{
    background-color: #2B579A;
}

#contacts img{
    height:45px; width:45px; border-radius: 50px; float: left;
}

.c_details{
    margin-left:10px; float: left;
}

.c_details font{
    font-size:11px; color:#777
}

.list-group-item {
    border: 0;
}