<div class="m-3 h-100">
  <div class="row h-100">

  <div class="col-md-6">
      <div class="card">
          <div class="card-header">
            Safety Regulatory Intelligence Areas
          </div>
          <div class="card-body">
            <div class="yg tile">
                <div>
                  <i class="fas fa-table"></i>
                </div>
                Pharmacovigilance
            </div>

            <div class="g tile">
                <div>
                    <i class="fas fa-first-aid"></i>
                </div>
                PRAC
            </div>

            <div class="vio tile">
                <div>
                    <i class="fas fa-notes-medical"></i>
                </div>
                Medical Device Vigilance
            </div>

            <div class="pink tile">
                <div>
                    <i class="fas fa-smile-beam"></i>
                </div>
                Cosmetovigilance
            </div>

            <div class="maroon tile">
                <div>
                    <i class="fas fa-leaf"></i>
                </div>
                Nutrivigilance
            </div>

            <div class="db tile">
                <div>
                    <i class="fas fa-file-medical-alt"></i>
                </div>
                OTC
            </div>

            <div class="brown tile">
                <div>
                    <i class="fas fa-capsules"></i>
                </div>
                Regulatory Texts
            </div>

            <div class="blue tile">
                <div>
                    <i class="fas fa-chart-line"></i>
                </div>
                Dashboard
            </div>

            <div class="sb tile">
                <div>
                    <i class="fas fa-user-shield"></i>
                </div>
                Administration
            </div>
            
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            Safety Regulatory Intelligence Mission
          </div>
          <div class="card-body">
            <!--<h5 class="card-title">Special title treatment</h5>-->
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
              It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
  </div>

  <div class="col-md-3">
      <div class="card">
          <div class="card-header">
              Headlines & Updates in Regulatory Intelligence
          </div>
          <div class="card-body">
            <!--<h5 class="card-title">Special title treatment</h5>-->
            <p class="card-text">You are not following any communities</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        
        <div class="card">
          <div class="card-header">
              External Presentations
          </div>
          <div class="card-body">
            <!--<h5 class="card-title">Special title treatment</h5>-->
            <p class="card-text">Global Links</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

        <div class="card yg" style="color:#fff; border-radius: 0px;">
            <div class="card-body">
                <img src="../../assets/images/followIcon.png"/> Follow Community
            </div>
        </div>

        <div class="card">
          <div class="card-header">
              External Presentations
          </div>
          <div class="card-body">
            <!--<h5 class="card-title">Special title treatment</h5>-->
              <ul>
                <li>Tools and System</li>
                <li>Other Quality Tools</li>
                <li>Tools and System</li>
                <li>Other Quality Tools</li>
              </ul>
            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
          </div>
        </div>
  </div>

  <div class="col-md-3 h-100">
    <div class="contacts_div " >
      <h5>Contacts</h5>
      <div class="card" id="contacts">
          <!--<div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>-->
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <img src="../../assets/images/d.jpg">
              <div class="c_details">
                  <strong>Joge Lucky</strong><br/>
                  <font>Art director, Movie Cut</font>
              </div>
            </li>
            <li class="list-group-item">
              <img src="../../assets/images/b.jpg">
              <div class="c_details">
                  <strong>Folisise Chosielie</strong><br/>
                  <font>Musician, Player</font>
              </div>
            </li>
            <li class="list-group-item">
              <img src="../../assets/images/c.jpg">
              <div class="c_details">
                  <strong>Aron Gonzalez</strong><br/>
                  <font>Designer</font>
              </div>
            </li>
            <li class="list-group-item">
                <img src="../../assets/images/2.jpg">
                <div class="c_details">
                    <strong>Amanda Ramirez</strong><br/>
                    <font>Writter, Mag Editor</font>
                </div>
            </li>

            <li class="list-group-item">
                <img src="../../assets/images/1.jpg">
                <div class="c_details">
                    <strong>Joge Lucky</strong><br/>
                    <font>Art director, Movie Cut</font>
                </div>
              </li>
              <li class="list-group-item">
                <img src="../../assets/images/3.jpg">
                <div class="c_details">
                    <strong>Folisise Chosielie</strong><br/>
                    <font>Musician, Player</font>
                </div>
              </li>
              <li class="list-group-item">
                <img src="../../assets/images/6.jpg">
                <div class="c_details">
                    <strong>Aron Gonzalez</strong><br/>
                    <font>Designer</font>
                </div>
              </li>
              <li class="list-group-item">
                  <img src="../../assets/images/7.jpg">
                  <div class="c_details">
                      <strong>Amanda Ramirez</strong><br/>
                      <font>Writter, Mag Editor</font>
                  </div>
              </li>
              <li class="list-group-item">
                  <img src="../../assets/images/9.jpg">
                  <div class="c_details">
                      <strong>Joge Lucky</strong><br/>
                      <font>Art director, Movie Cut</font>
                  </div>
                </li>
          </ul>
          
        </div>
    </div>
  </div>

  </div>
</div>