<div class="m-3 h-100">
    <ul class="nav nav-tabs bg-blueopal" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="nerr-tab" data-toggle="tab" href="#nerr" role="tab" aria-controls="nerr" aria-selected="true">National Expedited Reporting Rules</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="nprr-tab" data-toggle="tab" href="#nprr" role="tab" aria-controls="nprr" aria-selected="false">National Periodic Reporting Requirements</a>
    </li>
  </ul>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nerr" role="tabpanel" aria-labelledby="nerr-tab">
      
    </div>
    <div class="tab-pane fade" id="nprr" role="tabpanel" aria-labelledby="nprr-tab">
        <header class="card-header bg-blueopal  mb-2">
            Medical Device - Periodic Reporting Requirements
        </header>
      <div class="table-responsive">
        <table class="table table-hover pharma_table">
            <thead>
                <tr>
                    <th>Region</th>
                    <th style="width:100px">Country</th>
                    <th>Periodic Requirement YES/ NO / Planned/ Upon request</th>
                    <th>Periodic Report (PM/ CI rules)</th>
                    <th>Format(s)</th>
                    <th>Periodicity</th>
                    <th>RT</th>
                    <th style="width:400px">More Information</th>
                    <th>Date of Review at Global</th>
                    <th>Local validation/ confirmation date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Europe non EEA</td>
                    <td><img src="assets/images/flags/al.png" class="table_flag" /> Albania
                    </td>
                    <td>NO</td>
                    <td>NA</td>
                    <td>NA</td>
                    <td>NA</td>
                    <td>NA</td>
                    <td>Periodic reporting requirements for medical devices are not specified. It should be applied when Medical Device is used in combination with IP (e.g. Lantus SoloStar or ClickStar). No specific periodic requirements when device is used alone, without IT.</td>
                    <td>6/1/2014</td>
                    <td>6/1/2014</td>
                </tr>
                <tr>
                    <td>AMESA Africa</td>
                    <td><img src="assets/images/flags/dz.png" class="table_flag" /> Algeria</td>
                    <td>NO</td>
                    <td>NA</td>
                    <td>NA</td>
                    <td>NA</td>
                    <td>NA</td>
                    <td>NONE</td>
                    <td>6/1/2014</td>
                    <td>6/1/2014</td>
                </tr>
                <tr>
                    <td>AMESA Africa</td>
                    <td><img src="assets/images/flags/ao.png" class="table_flag" /> Angola
                    </td>
                    <td>NO</td>
                    <td>NA</td>
                    <td>NA</td>
                    <td>NA</td>
                    <td>NA</td>
                    <td>NONE</td>
                    <td>6/1/2014</td>
                    <td>6/1/2014</td>
                </tr>
                <tr>
                    <td>LATAM</td>
                    <td><img src="assets/images/flags/ar.png" class="table_flag" /> Argentina</td>
                    <td>NO</td>
                    <td>NA</td>
                    <td>NA</td>
                    <td>NA</td>
                    <td>NA</td>
                    <td>NONE</td>
                    <td>6/1/2014</td>
                    <td>6/1/2014</td>
                </tr>
                <tr>
                    <td>AMESA Middle East</td>
                    <td><img src="assets/images/flags/ar.png" class="table_flag" /> Armenia</td>
                    <td>NO</td>
                    <td>NA</td>
                    <td>NA</td>
                    <td>NA</td>
                    <td>NA</td>
                    <td>NONE</td>
                    <td>6/1/2014</td>
                    <td>6/1/2014</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
  </div>
  
  </div>