<div class="m-3 h-100">
    <ul class="nav nav-tabs bg-blueopal" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="nerr-tab" data-toggle="tab" href="#nerr" role="tab" aria-controls="nerr" aria-selected="true">National Expedited Reporting Rules</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="nprr-tab" data-toggle="tab" href="#nprr" role="tab" aria-controls="nprr" aria-selected="false">National Periodic Reporting Requirements</a>
    </li>
  </ul>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nerr" role="tabpanel" aria-labelledby="nerr-tab">
        <div class="table-responsive">
            <br/>
            <h4>Medical Device - Expedited ICSR Reporting Requirements <img src="../../assets/images/sanofi.png" class="float-right" height="30px"/></h4>
            <br/>
            <table id="dtHorizontal" class="table table-striped table-hover pharma_table">
                <thead>
                    <tr>
                        <th>Region</th>
                        <th style="width:100px">Site Name</th>
                        <th style="width:150px">ICSR Strongly Regulated Country<br/>(YES/ NO / Planned)</th>
                        <th>Submission type</th>
                        <th style="width:150px">"G/L/F<br/>Global (G) = Local (L) + Foreign (F)"</th>
                        <th style="width:200px">"Related (R)<br/>Not Related to device (NR)<br/>(always R for unsolicited)"</th>
                        <th>Serious public health threat (SPHT)</th>
                        <th>RT</th>
                        <th style="width:150px">"Death or  SI/SDH -<br/>SAE (S) NSAE (NS)"</th>
                        <th>"Unanticipated (U)<br/>Anticipated (A)"</th>
                        <th>RT</th>

                        <th>"Reportable only if Corrective Action <br/>(YES/NO)"</th>
                        <th>Report Format</th>

                        <th>Final report [YES/NO/ NA]</th>
                        <th>RT</th>
                        <th>Analysis of Similar Event /Incident<br/>[YES/NO/ NA]</th>

                        <th>Translation into Local language required<br/>(YES/NO)</th>

                        <th>Trend report [YES/NO/NA]</th>
                        <th style="width:400px">Other comments</th>

                        <th>Date of Review at global</th>
                        <th>Local validation/ confirmation date</th>
                        <th>AEGIS implementation date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>JPAC</td>
                        <td><img src="assets/images/flags/au.png" class="table_flag" />
                            Australia
                        </td>
                        <td>YES</td>
                        <td>PM rules</td>
                        <td>L</td>
                        <td>R</td>
                        <td>SPHT</td>
                        <td>48h</td>
                        <td>S</td>
                        <td>U</td>
                        <td>10cd</td>
                        <td>Y</td>
                        <td>30cd</td>
                        <td>NO</td>
                        <td>Local Form Online Report</td>
                        <td>YES,all</td>
                        <td>Not specified</td>
                        <td>YES</td>
                        <td>Final report RT = timelines not specified 
                            Final report : AOSE, CA, countries where the ICDR has been reported</td>
                        <td>24-Mar-15</td>
                        <td>24-Mar-15</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>JPAC</td>
                        <td><img src="assets/images/flags/au.png" class="table_flag" />
                            Australia
                        </td>
                        <td>YES</td>
                        <td>PM rules</td>
                        <td>L</td>
                        <td>R</td>
                        <td>SPHT</td>
                        <td>48h</td>
                        <td>S</td>
                        <td>U</td>
                        <td>10cd</td>
                        <td>Y</td>
                        <td>30cd</td>
                        <td>NO</td>
                        <td>Local Form Online Report</td>
                        <td>YES,all</td>
                        <td>Not specified</td>
                        <td>YES</td>
                        <td>Any remedial action that arises overseas for devices supplied in Australia should be reported
                          </td>
                        <td>24-Mar-15</td>
                        <td>24-Mar-15</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Europe EEA</td>
                        <td><img src="assets/images/flags/au.png" class="table_flag" />
                            Australia
                        </td>
                        <td>YES</td>
                        <td>CT rules</td>
                        <td>F</td>
                        <td>R</td>
                        <td>SPHT</td>
                        <td>48h</td>
                        <td>S</td>
                        <td>U</td>
                        <td>10cd</td>
                        <td>Y</td>
                        <td>30cd</td>
                        <td>NO</td>
                        <td>Local Form Online Report</td>
                        <td>YES,all</td>
                        <td>Not specified</td>
                        <td>YES</td>
                        <td>" - Fatal or lifethreatening adverse device event : initial report within 7 cd of first knowledge. Complete report within 8 additional calendar days. 
                            - Other serious unanticipated device events, full report no later than 15 cd of first knowledge.
                            - Other device events and adverse events : Upon TGA request
                           Final report : see unsolicited RR"
                           </td>
                        <td>24-Mar-15</td>
                        <td>24-Mar-15</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Europe EEA</td>
                        <td><img src="assets/images/flags/au.png" class="table_flag" />
                            Australia
                        </td>
                        <td>YES</td>
                        <td>PM rules</td>
                        <td>L</td>
                        <td>R</td>
                        <td>SPHT</td>
                        <td>48h</td>
                        <td>S</td>
                        <td>U</td>
                        <td>10cd</td>
                        <td>Y</td>
                        <td>30cd</td>
                        <td>NO</td>
                        <td>Local Form Online Report</td>
                        <td>YES,all</td>
                        <td>Not specified</td>
                        <td>YES</td>
                        <td>" - Fatal or lifethreatening adverse device event : initial report within 7 cd of first knowledge. Complete report within 8 additional calendar days. 
                            - Other serious unanticipated device events, full report no later than 15 cd of first knowledge.
                            - Other device events and adverse events : Upon TGA request
                           Final report : see unsolicited RR"
                           </td>
                        <td>24-Mar-15</td>
                        <td>24-Mar-15</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="nprr" role="tabpanel" aria-labelledby="nprr-tab">
        <h4 class="m-4">
            Medical Device - Periodic Reporting Requirements
            <img src="../../assets/images/sanofi.png" class="float-right" height="30px"/>
        </h4>
      <div class="table-responsive">
        <table class="table table-hover pharma_table">
            <thead>
                <tr>
                    <th>Region</th>
                    <th style="width:100px">Country</th>
                    <th>Periodic Requirement YES/ NO / Planned/ Upon request</th>
                    <th>Periodic Report (PM/ CI rules)</th>
                    <th>Format(s)</th>
                    <th>Periodicity</th>
                    <th>RT</th>
                    <th style="width:400px">More Information</th>
                    <th>Date of Review at Global</th>
                    <th>Local validation/ confirmation date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Europe non EEA</td>
                    <td><img src="assets/images/flags/al.png" class="table_flag" /> Albania
                    </td>
                    <td>NO</td>
                    <td>NA</td>
                    <td>NA</td>
                    <td>NA</td>
                    <td>NA</td>
                    <td>Periodic reporting requirements for medical devices are not specified. It should be applied when Medical Device is used in combination with IP (e.g. Lantus SoloStar or ClickStar). No specific periodic requirements when device is used alone, without IT.</td>
                    <td>6/1/2014</td>
                    <td>6/1/2014</td>
                </tr>
                <tr>
                    <td>AMESA Africa</td>
                    <td><img src="assets/images/flags/dz.png" class="table_flag" /> Algeria</td>
                    <td>NO</td>
                    <td>NA</td>
                    <td>NA</td>
                    <td>NA</td>
                    <td>NA</td>
                    <td>NONE</td>
                    <td>6/1/2014</td>
                    <td>6/1/2014</td>
                </tr>
                <tr>
                    <td>AMESA Africa</td>
                    <td><img src="assets/images/flags/ao.png" class="table_flag" /> Angola
                    </td>
                    <td>NO</td>
                    <td>NA</td>
                    <td>NA</td>
                    <td>NA</td>
                    <td>NA</td>
                    <td>NONE</td>
                    <td>6/1/2014</td>
                    <td>6/1/2014</td>
                </tr>
                <tr>
                    <td>LATAM</td>
                    <td><img src="assets/images/flags/ar.png" class="table_flag" /> Argentina</td>
                    <td>NO</td>
                    <td>NA</td>
                    <td>NA</td>
                    <td>NA</td>
                    <td>NA</td>
                    <td>NONE</td>
                    <td>6/1/2014</td>
                    <td>6/1/2014</td>
                </tr>
                <tr>
                    <td>AMESA Middle East</td>
                    <td><img src="assets/images/flags/ar.png" class="table_flag" /> Armenia</td>
                    <td>NO</td>
                    <td>NA</td>
                    <td>NA</td>
                    <td>NA</td>
                    <td>NA</td>
                    <td>NONE</td>
                    <td>6/1/2014</td>
                    <td>6/1/2014</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
  </div>
  
  </div>