<div class="m-3 h-100">
    <ul class="nav nav-tabs bg-blueopal" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="NationalResponsiblePersonSafetyrequirements-tab" data-toggle="tab" href="#NationalResponsiblePersonSafetyrequirements" role="tab" aria-controls="NationalResponsiblePersonSafetyrequirements" aria-selected="false">National Responsible Person in Safety requirements</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="NationalExpeditedReportingrules-tab" data-toggle="tab" href="#NationalExpeditedReportingrules" role="tab" aria-controls="NationalExpeditedReportingrules" aria-selected="false">National Expedited Reporting rules</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="NationalPeriodicReportingrequirements-tab" data-toggle="tab" href="#NationalPeriodicReportingrequirements" role="tab" aria-controls="NationalPeriodicReportingrequirements" aria-selected="false"> National Periodic Reporting requirements</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" id="NationalSignalDetectionRequirements-tab" data-toggle="tab" href="#NationalSignalDetectionRequirements" role="tab" aria-controls="NationalSignalDetectionRequirements" aria-selected="false">National Signal Detection Requirements</a> 
    </li>
    <li class="nav-item">
      <a class="nav-link" id="NationalRMPrequirements-tab" data-toggle="tab" href="#NationalRMPrequirements" role="tab" aria-controls="NationalRMPrequirements" aria-selected="false">National RMP requirements</a>
    </li>
  </ul>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="row h-100">
  
        <div class="col-md-8">
            <div class="card mb-2">
                <div class="card-group-item">
                    <header class="card-header bg-blueopal ">
                        Cosmetovigilance Regulatory Framework
                    </header>
                    <div class="filter-content">
                        <div class="card-body">
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text
                            ever since the 1500s, when an unknown printer took a galley of type
                            and scrambled it to make a type specimen book. It has survived not
                            only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged. It was popularised in the 1960s
                            with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus
                            PageMaker including versions of Lorem Ipsum.
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-group-item">
                    <header class="card-header bg-blueopal ">
                        Map
                    </header>
                    <div class="filter-content">
                        <div class="card-body text-center">
                                <div id="vmap" style="width: 100%; height: 400px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">                   
            <div class="card mb-1">
                <div class="card-group-item">
                    <header class="card-header bg-blueopal ">
                        National Safety Regulatory Requirements
                    </header>
                    <div class="card-body">
                        <div class="card bg-default text-center mb-2">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <a id="NationalResponsiblePersonSafetyrequirements-tab" data-toggle="tab"
                                            href="#NationalResponsiblePersonSafetyrequirements" role="tab"
                                            aria-controls="NationalResponsiblePersonSafetyrequirements"
                                            aria-selected="false">National Responsible Person in Safety requirements</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card bg-default text-center mb-2">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <a id="NationalExpeditedReportingrules-tab" data-toggle="tab"
                                            href="#NationalExpeditedReportingrules" role="tab"
                                            aria-controls="NationalExpeditedReportingrules"
                                            aria-selected="false">National Expedited Reporting rules</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card bg-default text-center mb-2">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <a id="NationalPeriodicReportingrequirements-tab"
                                            data-toggle="tab"
                                            href="#NationalPeriodicReportingrequirements" role="tab"
                                            aria-controls="NationalPeriodicReportingrequirements"
                                            aria-selected="false"> National Periodic Reporting requirements</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card bg-default text-center mb-2">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <a id="NationalSignalDetectionRequirements-tab" data-toggle="tab" href="#NationalSignalDetectionRequirements" role="tab" aria-controls="NationalSignalDetectionRequirements" aria-selected="false">National Signal Detection Requirements</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card bg-default text-center mb-2">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <a id="NationalRMPrequirements-tab" data-toggle="tab" href="#NationalRMPrequirements" role="tab" aria-controls="NationalRMPrequirements" aria-selected="false">National RMP requirements</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-md-2">
            <div class="p-4 mb-2 bg-blueopal">Region/Country</div>
            <div class="mb-2">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        AEGIS <span class="badge badge-info">1</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">AEGIS </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Africa, Middle East and Eurasia <span class="badge badge-info">32</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Afghanistan</li>
                                        <li class="list-group-item">Algeria </li>
                                        <li class="list-group-item">Angola </li>
                                        <li class="list-group-item">Armenia </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        AMERICAS  <span class="badge badge-info">1</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Afghanistan</li>
                                        <li class="list-group-item">Algeria </li>
                                        <li class="list-group-item">Angola </li>
                                        <li class="list-group-item">Armenia </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Asia, China and JPAC  <span class="badge badge-info">23</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="panel-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Afghanistan</li>
                                        <li class="list-group-item">Algeria </li>
                                        <li class="list-group-item">Angola </li>
                                        <li class="list-group-item">Armenia </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFive">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        Europe  <span class="badge badge-info">1 </span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                <div class="panel-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Afghanistan</li>
                                        <li class="list-group-item">Algeria </li>
                                        <li class="list-group-item">Angola </li>
                                        <li class="list-group-item">Armenia </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingSix">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        Europe EEA   <span class="badge badge-info">31  </span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                                <div class="panel-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Afghanistan</li>
                                        <li class="list-group-item">Algeria </li>
                                        <li class="list-group-item">Angola </li>
                                        <li class="list-group-item">Armenia </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingSeven">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                        Europe non EEA  <span class="badge badge-info">8  </span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                                <div class="panel-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Afghanistan</li>
                                        <li class="list-group-item">Algeria </li>
                                        <li class="list-group-item">Angola </li>
                                        <li class="list-group-item">Armenia </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    </div>
    <div class="tab-pane fade" id="NationalResponsiblePersonSafetyrequirements" role="tabpanel" aria-labelledby="NationalResponsiblePersonSafetyrequirements-tab">
        <div class="mt-2">
                <h4> Cosmetic - Responsible Person in Safety Requirement  <img _ngcontent-njt-c2="" class="float-right" height="30px" src="../../assets/images/sanofi.png"></h4>
                <table class="table table-hover pharma_table">
                    <thead>
                        <tr>
                            <th>Region</th>
                            <th style="width:100px">Country</th>
                            <th>Responsible Person in Safety <br> required by local regulation  <br>[YES/ NO / Planned]</th>
                            <th>Qualification required <br>[YES/ NO / Planned]</th>
                            <th>Comments</th>
                            <th>Date of Review</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Europe EEA</td>
                            <td><img src="assets/images/flags/au.png" class="table_flag" /> Austria </td>
                            <td>YES</td>
                            <td>NOT SPECIFIED</td>
                            <td>NONE</td>
                            <td>7/25/2014</td>
                        </tr>
                        <tr>
                            <td>Europe EEA</td>
                            <td><img src="assets/images/flags/bg.png" class="table_flag" /> Bulgaria </td>
                            <td>YES</td>
                            <td>NOT SPECIFIED</td>
                            <td>NONE</td>
                            <td>7/25/2014</td>
                        </tr>
                        <tr>
                            <td>Europe EEA</td>
                            <td><img src="assets/images/flags/cy.png" class="table_flag" /> Cyprus   </td>
                            <td>YES</td>
                            <td>NOT SPECIFIED</td>
                            <td>NONE</td>
                            <td>7/25/2014</td>
                        </tr>
                        <tr>
                            <td>Europe EEA</td>
                            <td><img src="assets/images/flags/dk.png" class="table_flag" /> Denmark </td>
                            <td>YES</td>
                            <td>NOT SPECIFIED</td>
                            <td>NONE</td>
                            <td>7/25/2014</td>
                        </tr>
                        <tr>
                            <td>Europe EEA</td>
                            <td><img src="assets/images/flags/es.png" class="table_flag" /> Estonia </td>
                            <td>YES</td>
                            <td>NOT SPECIFIED</td>
                            <td>NONE</td>
                            <td>7/25/2014</td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
    <div class="tab-pane fade" id="NationalExpeditedReportingrules" role="tabpanel" aria-labelledby="NationalExpeditedReportingrules-tab">
            <div class="mt-2">
                    <h4>Cosmetic - Expedited Reporting Rules <img _ngcontent-njt-c2="" class="float-right" height="30px" src="../../assets/images/sanofi.png"></h4>
                    <div class="alert alert-success" role="alert">
                        Sorted by ICSR Strongly Regulated Country (SRC) to ICSR Non-Strongly Regulated Country (NSRC)
                    </div>
                    <table class="table table-hover pharma_table">
                        <thead>
                            <tr>
                                <th>Region</th>
                                <th style="width:100px">Country</th>
                                <th>ICSR Strongly Regulated Country</th>
                                <th>Submission Type</th>
                                <th>Serious (S)  Non-Serious (NS)</th>
                                <th>Related ** (R) Related + Not Related (R/NR)</th>
                                <th>Unexpected Only (U) Unexpected + Expected / Listed (U/E)</th>
                                <th>Medically Confirmed (M ) Medically Confirmed + Consumer (Co)</th>
                                <th>G / L / F Global (G) = Local (L) + Foreign (F)</th>
                                <th>Report Format</th>
                                <th>Reporting Timelines *** cd= calendar days wd = working days</th>
                                <th>Translation into Local language required
                                        [YES/NO/N/A]</th>
                                <th>Comments</th>
                                <th>Date of Review at global</th>
                                <th>Local validation/ confirmation date</th>
                                <th>AWARE AEGIS implementation date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Europe non EEA</td>
                                <td><img src="assets/images/flags/au.png" class="table_flag" /> Austria </td>
                                <td>YES</td>
                                <td>CT rule</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>None</td>
                                <td>25-Jul-2012</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Europe non EEA</td>
                                <td><img src="assets/images/flags/al.png" class="table_flag" /> Albania </td>
                                <td>NO</td>
                                <td>CT rule</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>None</td>
                                <td>25-Jul-2012</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>AMESA Africa</td>
                                <td><img src="assets/images/flags/ao.png" class="table_flag" /> Algeria   </td>
                                <td>NO</td>
                                <td>PM rule</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>None</td>
                                <td>25-Jul-2012</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>AMESA Africa</td>
                                <td><img src="assets/images/flags/ao.png" class="table_flag" /> Algeria </td>
                                <td>YES</td>
                                <td>CT rule</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>None</td>
                                <td>25-Jul-2012</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>AMESA Africa</td>
                                <td><img src="assets/images/flags/ag.png" class="table_flag" /> Angola </td>
                                <td>YES</td>
                                <td>PM rule</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>None</td>
                                <td>25-Jul-2012</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
            </div>
    </div>
    <div class="tab-pane fade" id="NationalPeriodicReportingrequirements" role="tabpanel" aria-labelledby="NationalPeriodicReportingrequirements-tab">
        <div class="mt-2">
                <h4 class="m-4">Cosmetic - Periodic Reporting Requirements <img src="../../assets/images/sanofi.png" class="float-right" height="30px"/></h4>
                <div class="alert alert-success" role="alert">
                    Sorted by Periodic Strongly Regulated Country (SRC) to Periodic Non-Strongly Regulated Country (NSRC)
                    <br/>
                    RT = Reporting Timelines
                </div>
                 <table class="table table-striped table-hover pharma_table">
                    <thead>
                        <tr>
                            <th>Region</th>
                            <th>Country</th>
                            <th>Periodic Report required [YES/ NO/ Planned]</th>
                            <th>RT</th>
                            <th>Comments</th>
                            <th>Development Report required [YES/ NO/ Planned]</th>
                            <th>RT</th>
                            <th>Comments</th>
                            <th>Date of Review</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Europe non EEA</td>
                            <td><img src="assets/images/flags/al.png" class="table_flag" /> Albania</td>
                            <td>NO</td>
                            <td>N/A</td>
                            <td>None</td>
                            <td>NO</td>
                            <td>N/A</td>
                            <td>None</td>
                            <td>7/25/2012</td>
                        </tr>
                        <tr>
                            <td>AMESA Africa</td>
                            <td><img src="assets/images/flags/dz.png" class="table_flag" /> Algeria</td>
                            <td>NO</td>
                            <td>N/A</td>
                            <td>None</td>
                            <td>NO</td>
                            <td>N/A</td>
                            <td>None</td>
                            <td>7/25/2012</td>
                        </tr>
                         <tr>
                            <td>AMESA Africa</td>
                            <td><img src="assets/images/flags/ao.png" class="table_flag" /> Angola</td>
                            <td>NO</td>
                            <td>N/A</td>
                            <td>None</td>
                            <td>NO</td>
                            <td>N/A</td>
                            <td>None</td>
                            <td>7/25/2012</td>
                        </tr>
                         <tr>
                            <td>LATAM</td>
                            <td><img src="assets/images/flags/ar.png" class="table_flag" /> Argentina</td>
                            <td>NO</td>
                            <td>N/A</td>
                            <td>None</td>
                            <td>NO</td>
                            <td>N/A</td>
                            <td>None</td>
                            <td>7/25/2012</td>
                        </tr>
                         <tr>
                            <td>AMESA Middle East</td>
                            <td><img src="assets/images/flags/am.png" class="table_flag" /> Armenia</td>
                            <td>NO</td>
                            <td>N/A</td>
                            <td>None</td>
                            <td>NO</td>
                            <td>N/A</td>
                            <td>None</td>
                            <td>7/25/2012</td>
                        </tr>
                         
                    </tbody>
                </table>
        </div>
    </div>
    <div class="tab-pane fade" id="NationalSignalDetectionRequirements" role="tabpanel" aria-labelledby="NationalSignalDetectionRequirements-tab">
        <div class="mt-2">
                        <h4 class="m-4">Cosmetic - Signal Detection Reporting Requirement <img src="../../assets/images/sanofi.png" class="float-right" height="30px"/></h4>
                        <div class="alert alert-success" role="alert">
                            Sorted by Signal Detection Strongly Regulated Country (SRC) to Signal Detection Non-Strongly Regulated Country (NSRC)
                        </div>
                         <table class="table table-striped table-hover pharma_table">
                            <thead>
                                <tr>
                                    <th>Region</th>
                                    <th>Country</th>
                                    <th>Signal Detection Process Required (YES/NO)</th>
                                    <th>HA Communication (YES/NO)</th>
                                    <th>Comments</th>
                                    <th>Date of Review</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Europe EEA</td>
                                    <td><img src="assets/images/flags/fr.png" class="table_flag" /> France</td>
                                    <td>NO</td>
                                    <td>NO</td>
                                    <td>We analysed on a yearly basis the safety of cosmetic product.this is an internally report, it is not submitted to HA.  All AE with a cosmetic product is registered in a dedicated table</td>
                                    <td>7/25/2012</td>
                                </tr>
                                 <tr>
                                    <td>Europe EEA</td>
                                    <td><img src="assets/images/flags/de.png" class="table_flag" /> Germany</td>
                                    <td>NO</td>
                                    <td>NO</td>
                                    <td>www.bfr.bund.de</td>
                                    <td>7/25/2012</td>
                                </tr>
                                 <tr>
                                    <td>JPAC</td>
                                    <td><img src="assets/images/flags/jp.png" class="table_flag" /> Japan</td>
                                    <td>YES</td>
                                    <td>YES</td>
                                    <td>http://www.mhlw.go.jp/seisakunitsuite/bunya/kenkou_iryou/iyakuhin/</td>
                                    <td>7/25/2012</td>
                                </tr>
                                 <tr>
                                    <td>Asia</td>
                                    <td><img src="assets/images/flags/ph.png" class="table_flag" /> Philippines</td>
                                    <td>NO</td>
                                    <td>YES</td>
                                    <td>None</td>
                                    <td>7/25/2012</td>
                                </tr>
                                 <tr>
                                    <td>Europe non EEA</td>
                                    <td><img src="assets/images/flags/al.png" class="table_flag" /> Albania</td>
                                    <td>YES</td>
                                    <td>NO</td>
                                    <td>None</td>
                                    <td>7/25/2012</td>
                                </tr>
                            </tbody>
                        </table>
          </div>
    </div>
    <div class="tab-pane fade" id="NationalRMPrequirements" role="tabpanel" aria-labelledby="NationalRMPrequirements-tab">
      <div class="mt-2">
            <h4 class="m-4">Cosmetic - Risk Management Plan Reporting Requirement <img src="../../assets/images/sanofi.png" class="float-right" height="30px"/></h4>
            <div class="alert alert-success" role="alert">
                Sorted by Risk Management Strongly Regulated Country to Risk Management Non-Strongly Regulated Country
            </div>
             <table class="table table-striped table-hover pharma_table">
                <thead>
                    <tr>
                        <th>Region</th>
                        <th>Country</th>
                        <th>Risk Management Report required YES/ NO</th>
                        <th>Date of Review</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>North America</td>
                        <td><img src="assets/images/flags/ca.png" class="table_flag" /> Canada</td>
                        <td>YES (RMP)</td>
                        <td>7/25/2012</td>
                    </tr>
                    <tr>
                        <td>Europe non EEA</td>
                        <td><img src="assets/images/flags/al.png" class="table_flag" /> Albania</td>
                        <td>NO</td>
                        <td>7/25/2012</td>
                    </tr>
                    <tr>
                        <td>AMESA Africa</td>
                        <td><img src="assets/images/flags/dz.png" class="table_flag" /> Algeria </td>
                        <td>NO</td>
                        <td>7/25/2012</td>
                    </tr>
                    <tr>
                        <td>AMESA Africa</td>
                        <td><img src="assets/images/flags/ao.png" class="table_flag" /> Angola</td>
                        <td>NO</td>
                        <td>7/25/2012</td>
                    </tr>
                    <tr>
                        <td>LATAM</td>
                        <td><img src="assets/images/flags/ar.png" class="table_flag" /> Argentina</td>
                        <td>NO</td>
                        <td>7/25/2012</td>
                    </tr>
                </tbody>
            </table>
      </div>
    </div>
  </div>
  
  </div>

