<div class="m-3 h-100">
    <ul class="nav nav-tabs bg-blueopal" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="NationalResponsiblePersonSafetyrequirements-tab" data-toggle="tab" href="#NationalResponsiblePersonSafetyrequirements" role="tab" aria-controls="NationalResponsiblePersonSafetyrequirements" aria-selected="false">National Responsible Person in Safety requirements</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="NationalExpeditedReportingrules-tab" data-toggle="tab" href="#NationalExpeditedReportingrules" role="tab" aria-controls="NationalExpeditedReportingrules" aria-selected="false">National Expedited Reporting rules</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="NationalPeriodicReportingrequirements-tab" data-toggle="tab" href="#NationalPeriodicReportingrequirements" role="tab" aria-controls="NationalPeriodicReportingrequirements" aria-selected="false"> National Periodic Reporting requirements</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" id="NationalSignalDetectionRequirements-tab" data-toggle="tab" href="#NationalSignalDetectionRequirements" role="tab" aria-controls="NationalSignalDetectionRequirements" aria-selected="false">National Signal Detection Requirements</a> 
    </li>
    <li class="nav-item">
      <a class="nav-link" id="NationalRMPrequirements-tab" data-toggle="tab" href="#NationalRMPrequirements" role="tab" aria-controls="NationalRMPrequirements" aria-selected="false">National RMP requirements</a>
    </li>
  </ul>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="row h-100">
  
        <div class="col-md-8">
            <div class="card mb-2">
                <div class="card-group-item">
                    <header class="card-header bg-blueopal ">
                        Cosmetovigilance Regulatory Framework
                    </header>
                    <div class="filter-content">
                        <div class="card-body">
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text
                            ever since the 1500s, when an unknown printer took a galley of type
                            and scrambled it to make a type specimen book. It has survived not
                            only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged. It was popularised in the 1960s
                            with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus
                            PageMaker including versions of Lorem Ipsum.
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-group-item">
                    <header class="card-header bg-blueopal ">
                        Map
                    </header>
                    <div class="filter-content">
                        <div class="card-body text-center">
                            <img src="assets/images/map.png" alt="" class="img-fluid"  style="height: 400px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">                   
            <div class="card mb-1">
                <div class="card-group-item">
                    <header class="card-header bg-blueopal ">
                        National Safety Regulatory Requirements
                    </header>
                    <div class="card-body">
                        <div class="card bg-emerald text-center mb-2">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <a id="NationalResponsiblePersonSafetyrequirements-tab" data-toggle="tab"
                                            href="#NationalResponsiblePersonSafetyrequirements" role="tab"
                                            aria-controls="NationalResponsiblePersonSafetyrequirements"
                                            aria-selected="false">National Responsible Person in Safety requirements</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card bg-alizarin text-center mb-2">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <a id="NationalExpeditedReportingrules-tab" data-toggle="tab"
                                            href="#NationalExpeditedReportingrules" role="tab"
                                            aria-controls="NationalExpeditedReportingrules"
                                            aria-selected="false">National Expedited Reporting rules</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card bg-wisteria text-center mb-2">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <a id="NationalPeriodicReportingrequirements-tab"
                                            data-toggle="tab"
                                            href="#NationalPeriodicReportingrequirements" role="tab"
                                            aria-controls="NationalPeriodicReportingrequirements"
                                            aria-selected="false"> National Periodic Reporting requirements</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card bg-greensea text-center mb-2">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <a id="NationalSignalDetectionRequirements-tab" data-toggle="tab" href="#NationalSignalDetectionRequirements" role="tab" aria-controls="NationalSignalDetectionRequirements" aria-selected="false">National Signal Detection Requirements</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card bg-pumpkin text-center mb-2">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <a id="NationalRMPrequirements-tab" data-toggle="tab" href="#NationalRMPrequirements" role="tab" aria-controls="NationalRMPrequirements" aria-selected="false">National RMP requirements</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-md-2">
            <div class="p-2 mb-2 bg-blueopal">Region/Country</div>
            <div class="mb-2">
                <div class="accordion" id="accordionExample">
                    <div class="card mb-1">
                        <div class="card-header" id="headingOne">
                            <ul class="list-group">
                                <li class="list-group-item collapsed align-items-center" data-toggle="collapse" data-target="#collapseOne">
                                    <i class="fa fa-plus"></i>  AEGIS <span class="badge badge-info">1</span>
                                </li>
                            </ul>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">AEGIS </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-1">
                        <div class="card-header" id="headingTwo">
                            <ul class="list-group">
                                <li class="list-group-item collapsed align-items-center" data-toggle="collapse" data-target="#collapseTwo">
                                    <i class="fa fa-plus"></i>   Africa, Middle East and Eurasia <span class="badge badge-info">32</span>
                                </li>
                            </ul>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Afghanistan</li>
                                    <li class="list-group-item">Algeria </li>
                                    <li class="list-group-item">Angola </li>
                                    <li class="list-group-item">Armenia </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-1">
                        <div class="card-header" id="headingThree">
                            <ul class="list-group">
                                <li class="list-group-item collapsed align-items-center" data-toggle="collapse" data-target="#collapseThree">
                                    <i class="fa fa-plus"></i>  AMERICAS  <span class="badge badge-info">1</span>
                                </li>
                            </ul>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Afghanistan</li>
                                    <li class="list-group-item">Algeria </li>
                                    <li class="list-group-item">Angola </li>
                                    <li class="list-group-item">Armenia </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-1">
                        <div class="card-header" id="headingFour">
                            <ul class="list-group">
                                <li class="list-group-item collapsed align-items-center" data-toggle="collapse" data-target="#collapseFour">
                                    <i class="fa fa-plus"></i>  Asia, China and JPAC  <span class="badge badge-info">23</span>
                                </li>
                            </ul>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Afghanistan</li>
                                    <li class="list-group-item">Algeria </li>
                                    <li class="list-group-item">Angola </li>
                                    <li class="list-group-item">Armenia </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-1">
                        <div class="card-header" id="headingFive">
                            <ul class="list-group">
                                <li class="list-group-item collapsed align-items-center" data-toggle="collapse" data-target="#collapseFive">
                                    <i class="fa fa-plus"></i>  Europe  <span class="badge badge-info">1 </span>
                                </li>
                            </ul>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Afghanistan</li>
                                    <li class="list-group-item">Algeria </li>
                                    <li class="list-group-item">Angola </li>
                                    <li class="list-group-item">Armenia </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-1">
                        <div class="card-header" id="headingSix">
                            <ul class="list-group">
                                <li class="list-group-item collapsed align-items-center" data-toggle="collapse" data-target="#collapseSix">
                                    <i class="fa fa-plus"></i>   Europe EEA   <span class="badge badge-info">31  </span>
                                </li>
                            </ul>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Afghanistan</li>
                                    <li class="list-group-item">Algeria </li>
                                    <li class="list-group-item">Angola </li>
                                    <li class="list-group-item">Armenia </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-1">
                        <div class="card-header" id="headingSeven">
                            <ul class="list-group">
                                <li class="list-group-item collapsed align-items-center" data-toggle="collapse" data-target="#collapseSeven">
                                    <i class="fa fa-plus"></i>   Europe non EEA  <span class="badge badge-info">8  </span>
                                </li>
                            </ul>
                        </div>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Afghanistan</li>
                                    <li class="list-group-item">Algeria </li>
                                    <li class="list-group-item">Angola </li>
                                    <li class="list-group-item">Armenia </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="tab-pane fade" id="NationalResponsiblePersonSafetyrequirements" role="tabpanel" aria-labelledby="NationalResponsiblePersonSafetyrequirements-tab">
        <div class="mt-2">
                <h4> Cosmetic - Responsible Person in Safety Requirement  <img _ngcontent-njt-c2="" class="float-right" height="30px" src="../../assets/images/sanofi.png"></h4>
                <div class="table-responsive">
                <table class="table table-hover pharma_table">
                    <thead>
                        <tr>
                            <th>Region</th>
                            <th style="width:100px">Country</th>
                            <th>Responsible Person in Safety <br> required by local regulation  <br>[YES/ NO / Planned]</th>
                            <th>Qualification required <br>[YES/ NO / Planned]</th>
                            <th>Comments</th>
                            <th>Date of Review</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Europe EEA</td>
                            <td><img src="assets/images/flags/au.png" class="table_flag" /> Austria </td>
                            <td>YES</td>
                            <td>NOT SPECIFIED</td>
                            <td>NONE</td>
                            <td>7/25/2014</td>
                        </tr>
                        <tr>
                            <td>Europe EEA</td>
                            <td><img src="assets/images/flags/bg.png" class="table_flag" /> Bulgaria </td>
                            <td>YES</td>
                            <td>NOT SPECIFIED</td>
                            <td>NONE</td>
                            <td>7/25/2014</td>
                        </tr>
                        <tr>
                            <td>Europe EEA</td>
                            <td><img src="assets/images/flags/cy.png" class="table_flag" /> Cyprus   </td>
                            <td>YES</td>
                            <td>NOT SPECIFIED</td>
                            <td>NONE</td>
                            <td>7/25/2014</td>
                        </tr>
                        <tr>
                            <td>Europe EEA</td>
                            <td><img src="assets/images/flags/dk.png" class="table_flag" /> Denmark </td>
                            <td>YES</td>
                            <td>NOT SPECIFIED</td>
                            <td>NONE</td>
                            <td>7/25/2014</td>
                        </tr>
                        <tr>
                            <td>Europe EEA</td>
                            <td><img src="assets/images/flags/es.png" class="table_flag" /> Estonia </td>
                            <td>YES</td>
                            <td>NOT SPECIFIED</td>
                            <td>NONE</td>
                            <td>7/25/2014</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="NationalExpeditedReportingrules" role="tabpanel" aria-labelledby="NationalExpeditedReportingrules-tab">
            <div class="mt-2">
                    <h4 >Cosmetic - Expedited Reporting Rules <img _ngcontent-njt-c2="" class="float-right" height="30px" src="../../assets/images/sanofi.png"></h4>
                    <small>Sorted by ICSR Strongly Regulated Country (SRC) to ICSR Non-Strongly Regulated Country (NSRC)</small>
                    <div class="table-responsive">
                    <table class="table table-hover pharma_table">
                        <thead>
                            <tr>
                                <th>Region</th>
                                <th style="width:100px">Country</th>
                                <th>ICSR Strongly Regulated Country</th>
                                <th>Submission Type</th>
                                <th>Serious (S)  Non-Serious (NS)</th>
                                <th>Related ** (R) Related + Not Related (R/NR)</th>
                                <th>Unexpected Only (U) Unexpected + Expected / Listed (U/E)</th>
                                <th>Medically Confirmed (M ) Medically Confirmed + Consumer (Co)</th>
                                <th>G / L / F Global (G) = Local (L) + Foreign (F)</th>
                                <th>Report Format</th>
                                <th>Reporting Timelines *** cd= calendar days wd = working days</th>
                                <th>Translation into Local language required
                                        [YES/NO/N/A]</th>
                                <th>Comments</th>
                                <th>Date of Review at global</th>
                                <th>Local validation/ confirmation date</th>
                                <th>AWARE AEGIS implementation date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Europe non EEA</td>
                                <td><img src="assets/images/flags/au.png" class="table_flag" /> Austria </td>
                                <td>YES</td>
                                <td>CT rule</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>None</td>
                                <td>25-Jul-2012</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Europe non EEA</td>
                                <td><img src="assets/images/flags/al.png" class="table_flag" /> Albania </td>
                                <td>NO</td>
                                <td>CT rule</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>None</td>
                                <td>25-Jul-2012</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>AMESA Africa</td>
                                <td><img src="assets/images/flags/ao.png" class="table_flag" /> Algeria   </td>
                                <td>NO</td>
                                <td>PM rule</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>None</td>
                                <td>25-Jul-2012</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>AMESA Africa</td>
                                <td><img src="assets/images/flags/ao.png" class="table_flag" /> Algeria </td>
                                <td>YES</td>
                                <td>CT rule</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>None</td>
                                <td>25-Jul-2012</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>AMESA Africa</td>
                                <td><img src="assets/images/flags/ag.png" class="table_flag" /> Angola </td>
                                <td>YES</td>
                                <td>PM rule</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>None</td>
                                <td>25-Jul-2012</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
    <div class="tab-pane fade" id="NationalPeriodicReportingrequirements" role="tabpanel" aria-labelledby="NationalPeriodicReportingrequirements-tab">
        <div class="mt-2">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item success">
                    <a class="nav-link active" id="pills-requirement-tab" data-toggle="pill" href="#pills-requirement" role="tab" aria-controls="pills-requirement" aria-selected="true">RMP requirement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-Status-tab" data-toggle="pill" href="#pills-Status" role="tab" aria-controls="pills-Status" aria-selected="false">RMP Status per region</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-types-tab" data-toggle="pill" href="#pills-types" role="tab" aria-controls="pills-types" aria-selected="false">RMP Type</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-Format-tab" data-toggle="pill" href="#pills-Format" role="tab" aria-controls="pills-Format" aria-selected="false">RMP Format</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-requirement" role="tabpanel" aria-labelledby="pills-requirement-tab">
    
                        <h3>Risk Management Plan Requirements</h3>
    
                </div>
                <div class="tab-pane fade" id="pills-Status" role="tabpanel" aria-labelledby="pills-Status-tab">
                        <img src="/assets/images/RMPStatus.JPG" />
                </div>
                <div class="tab-pane fade" id="pills-types" role="tabpanel" aria-labelledby="pills-types-tab"> 
                      <img src="/assets/images/RMPType.JPG" />
                </div>
                <div class="tab-pane fade" id="pills-Format" role="tabpanel" aria-labelledby="pills-Format-tab">
    
                    <img src="/assets/images/RMPFormat.JPG" style="border:1px solid #ccc; float:left"/>
                        
                </div>
            </div>
          </div>
    </div>
    <div class="tab-pane fade" id="NationalSignalDetectionRequirements" role="tabpanel" aria-labelledby="NationalSignalDetectionRequirements-tab">
        <div class="mt-2">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item success">
                    <a class="nav-link active" id="pills-requirement-tab" data-toggle="pill" href="#pills-requirement" role="tab" aria-controls="pills-requirement" aria-selected="true">RMP requirement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-Status-tab" data-toggle="pill" href="#pills-Status" role="tab" aria-controls="pills-Status" aria-selected="false">RMP Status per region</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-types-tab" data-toggle="pill" href="#pills-types" role="tab" aria-controls="pills-types" aria-selected="false">RMP Type</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-Format-tab" data-toggle="pill" href="#pills-Format" role="tab" aria-controls="pills-Format" aria-selected="false">RMP Format</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-requirement" role="tabpanel" aria-labelledby="pills-requirement-tab">
    
                        <h3>Risk Management Plan Requirements</h3>
    
                </div>
                <div class="tab-pane fade" id="pills-Status" role="tabpanel" aria-labelledby="pills-Status-tab">
                        <img src="/assets/images/RMPStatus.JPG" />
                </div>
                <div class="tab-pane fade" id="pills-types" role="tabpanel" aria-labelledby="pills-types-tab"> 
                      <img src="/assets/images/RMPType.JPG" />
                </div>
                <div class="tab-pane fade" id="pills-Format" role="tabpanel" aria-labelledby="pills-Format-tab">
    
                    <img src="/assets/images/RMPFormat.JPG" style="border:1px solid #ccc; float:left"/>
                        
                </div>
            </div>
          </div>
    </div>
    <div class="tab-pane fade" id="NationalRMPrequirements" role="tabpanel" aria-labelledby="NationalRMPrequirements-tab">
      <div class="mt-2">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item success">
                <a class="nav-link active" id="pills-requirement-tab" data-toggle="pill" href="#pills-requirement" role="tab" aria-controls="pills-requirement" aria-selected="true">RMP requirement</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-Status-tab" data-toggle="pill" href="#pills-Status" role="tab" aria-controls="pills-Status" aria-selected="false">RMP Status per region</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-types-tab" data-toggle="pill" href="#pills-types" role="tab" aria-controls="pills-types" aria-selected="false">RMP Type</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-Format-tab" data-toggle="pill" href="#pills-Format" role="tab" aria-controls="pills-Format" aria-selected="false">RMP Format</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-requirement" role="tabpanel" aria-labelledby="pills-requirement-tab">

                    <h3>Risk Management Plan Requirements</h3>

            </div>
            <div class="tab-pane fade" id="pills-Status" role="tabpanel" aria-labelledby="pills-Status-tab">
                    <img src="/assets/images/RMPStatus.JPG" />
            </div>
            <div class="tab-pane fade" id="pills-types" role="tabpanel" aria-labelledby="pills-types-tab"> 
                  <img src="/assets/images/RMPType.JPG" />
            </div>
            <div class="tab-pane fade" id="pills-Format" role="tabpanel" aria-labelledby="pills-Format-tab">

                <img src="/assets/images/RMPFormat.JPG" style="border:1px solid #ccc; float:left"/>
                    
            </div>
        </div>
      </div>
    </div>
  </div>
  
  </div>